*.py[co]

# Packages
.eggs
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Mr Developer
.mr.developer.cfg
.project
.externalToolBuilders
.settings
/ez_setup
.pydevproject
coverage*.xml
/.eggs/
deb_dist
/minarca-client/authenticode-certs.pem
/minarca-client/authenticode.pem

/*.deb
/*.exe
/*.dsc
/*.buildinfo
/*.changes
/*.tar.gz
/minarca-server/debian/minarca-server
/minarca-server/debian/*debhelper*
/minarca-server/debian/files
/minarca-server/~
/.DS_Store
pytestdebug.log
xunit.xml
