*.py[co]
*.log

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.eggs
.sass-cache
.venv
rdw.db
rdw.db-shm
rdw.db-wal

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
coverage*.xml
xunit*.xml

#Mr Developer
.mr.developer.cfg
/node_modules/
.project
.externalToolBuilders
.settings
/ez_setup
/rdwtest.conf
/rdwtest.db
/runtest.py
.pydevproject
/rdw.db
/testrdw.conf
.tox
.pydevproject
/htmlcov/
/.env/
/.pybuild/
/.pytest_cache/
/.coverage*
/.vscode
.DS_Store
