{# def currentuser, breadcrumbs #}
{# css cf/vendor/bootstrap5/css/bootstrap.min.css #}
{# js cf/vendor/popper/popper.min.js, cf/vendor/bootstrap5/js/bootstrap.min.js #}
{% if breadcrumbs %}
  <nav id="rdw-breadcrumb" aria-label="breadcrumb" {{ attrs.render() }}>
    <ol class="breadcrumb mb-0">
      {% for segment in breadcrumbs %}
        {% set page_url = segment[0] %}
        {% set page_label = segment[1] %}
        {% if loop.last %}
          <li class="breadcrumb-item active" aria-current="page">{{ page_label }}</li>
        {% else %}
          <li class="breadcrumb-item">
            {% if page_url %}<a href="{{ page_url }}">{% endif %}
              {{ page_label }}
              {% if page_url %}</a>{% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
{% endif %}
