{# def label, target, disabled=False #}
<button {{ attrs.render(type="button",
   class="btn btn-danger",
   data_bs_toggle="modal",
   data_bs_target=target,
   disabled=disabled) }}> {{ label }}
</button>
