{# def target, label=None, icon=None, disabled=False #}
<button {{ attrs.render(type="button",
   class="btn",
   data_bs_toggle="modal",
   data_bs_target=target,
   disabled=disabled) }}>
  {% if icon %}
    <RdwIcon :value="icon" {% if label %}class="me-1"{% endif %} />
  {% endif %}
  {%- if label %}{{ label }}{% endif %}
</button>
