{# def id, title, submit=None, color="primary", show=False #}
{% if show %}
  {% do attrs.setdefault(classes="rdw-modal-onload") %}
{% endif %}
<div {{ attrs.render(id=id, classes="modal", tabindex="-1", role="dialog", aria_hidden="true", aria_labelledby="%s-title".format(id) ) }}>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="{{ id }}-title">{{ title }}</h4>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                data-bs-target="#{{ id }}"></button>
      </div>
      <div class="modal-body">{{ content }}</div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
                data-bs-target="#{{ id }}">{% trans %}Close{% endtrans %}</button>
        <button type="submit" class="btn btn-{{ color }}">{{ submit or _("Submit") }}</button>
      </div>
    </div>
  </div>
</div>
