{# def repo, active=False #}
{% do attrs.setdefault(href=url_for('browse', repo), class="d-flex align-items-center gap-3 text-truncate") %}
{% if active %}
  {% do attrs.add_class("active") %}
{% endif %}
<a {{ attrs.render() }}>
  <RdwIcon value="repo" class="fs-4" />
  <div class="w-100 text-truncate">
    <div class="d-flex justify-content-between">
      <span class="mb-0 me-1 fw-semibold text-truncate" title="{{ repo.name }}">{{ repo.name }}</span>
      <RepoStatus :repo="repo" class="badge" />
    </div>
    <div class="small text-truncate">
      {% trans %}Last backup {% endtrans %}
      <RdwTime :value="repo.last_backup_date" format="short" />
    </div>
  </div>
  {% if content %}{{ content }}{% endif %}
</a>
