{# def url_args=[], dates=[], selected_date=None #}
<!-- Date selector -->
<div {{ attrs.render(class="rdw-date-selector") }}>
  <div class="dropdown">
    <button class="btn btn-outline-secondary"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false">
      {% if selected_date %}
        <time class="js-datetime" datetime="{{ selected_date }}">{{ selected_date | int | format_datetime(format='medium') }}</time>
      {% else %}
        {% trans %}Select a backup date...{% endtrans %}
      {% endif %}
      <RdwIcon value="ms-2 bi-chevron-down" />
    </button>
    <ul class="dropdown-menu">
      {% for item in dates[-10:][::-1] %}
        <li>
          <a href="{{ url_for(*url_args, date=item) }}"
             class="dropdown-item{% if item == selected_date %} active{% endif %}">
            <time class="js-datetime" datetime="{{ item }}">{{ item | int | format_datetime(format='medium') }}</time>
          </a>
        </li>
      {% endfor %}
      {% if dates|count > 10 %}
        <a href="1"
           class="dropdown-item"
           data-bs-toggle="modal"
           data-bs-target="#rdw-date-selector-modal">{% trans %}Show all backups...{% endtrans %}</a>
      {% endif %}
    </ul>
  </div>
  <form method="GET" action="#">
    <RdwModal id="rdw-date-selector-modal"
              :title="{{ _("Select a backup date...") }}">
      <div class="list-group list-group-flush">
        {% for item in dates[::-1] %}
          <a class="list-group-item list-group-item-action{% if item == selected_date %} active{% endif %}"
             href="{{ url_for(*url_args, date=item) }}">
            <time class="js-datetime" datetime="{{ item }}">{{ item | int | format_datetime(format='medium') }}</time>
          </a>
        {% endfor %}
      </div>
    </RdwModal>
  </form>
</div>
