{# def id, title, btn_submit_label=None, btn_submit_class="primary"  #}
<div class="modal"
     id="{{ id }}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="{{ id }}-title"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="{{ id }}-title">{{ title }}</h4>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if content is defined %}{{ content }}{% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Close{% endtrans %}</button>
        {% if btn_submit_label %}
          <button type="submit" class="btn btn-{{ btn_submit_class }}">{{ btn_submit_label }}</button>
        {% endif %}
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
