/* Toggle filter checkbox */
.rdw-btn-filter::before {
  font: normal normal normal 14px/1 bootstrap-icons;
  content: "\F584"; /* bi-square */
  display: inline-block;
  margin-inline-end: 0.25em;
  width: 1.28571429em;
  text-align: center;
  vertical-align: -.125em;
}
.rdw-btn-filter.active::before {
  content: "\F26D"; /* bi-check-square */
}

/* Relayout the search */
.rdw-table .dt-search {
    display: flex;
    align-items: center;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: var(--bs-input-padding-y, 0.375rem) var(--bs-input-padding-x, 0.75rem);
    gap: var(--bs-gutter-x, 0.5rem);
    background-color: var(--bs-body-bg) !important;
}
.rdw-table .dt-search input {
  border: none !important;
  outline: none;
  font-size: var(--bs-body-font-size);
  width: 100%;
  color: var(--bs-body-color) !important;
  background-color: var(--bs-body-bg) !important;
  min-width: 25vw;
  padding:0 !important;
}

/* Hide search label */
.rdw-table .dt-search label {
    display: none;
}

/* Add search icon */
.rdw-table .dt-search::after {
  font: normal normal normal 14px/1 bootstrap-icons;
  content: "\F52A"; /* bi-search */
  display: inline-block;
  margin-inline-end: 0.25em;
  width: 1.28571429em;
  text-align: center;
}

/* Add padding to pageLength */
.rdw-table #dt-length-0 {
    margin-inline-end: .25rem;
}

/* Show/hide action buttons */
tr .rdw-btn-hover {
    opacity: 0;
}
tr:hover .rdw-btn-hover, tr.child .rdw-btn-hover {
    opacity: 1;
}

/* Re-use variable --bg-light for .table-light */
.rdw-table .table-light {
    --bs-table-bg: var(--bs-light);
}

/* Display of dropdown menu in browse page. */
.rdw-table .dt-scroll-body {
  overflow: visible !important;
}
