{# def repo #}
{% if repo.status[0] != 'ok' %}
  {{ repo.status[1] }}
{% elif repo.last_backup_date %}
  {% trans %}Last backup {% endtrans %}
  <time datetime="{{ repo.last_backup_date }}"
        title="{{ repo.last_backup_date | format_datetime }}">
    {{ repo.last_backup_date | lastupdated }}
  </time>
{% else %}
  {% trans %}Initial backup not completed.{% endtrans %}
{% endif %}
