{# def repo #}
{% set status = repo.status %}
{% set status_color = {'ok': 'success', 'in_progress':'info', 'failed': 'danger'}.get(status[0], 'warning') %}
{% set status_icon = {'ok':'bi-check-circle', 'overdue':'bi-clock-history', 'in_progress':'bi-arrow-repeat bi-spin'}.get(status[0], 'bi-exclamation-triangle-fill') %}
{% if 'badge' in attrs.classes %}
  {# Badge #}
  <span {{ attrs.render(title=status[1], class="badge bg-" ~ status_color ~ "-subtle text-" ~ status_color ~ "-emphasis border-" ~ status_color ~ "-subtle") }}>
    <RdwIcon :value="status_icon" class="me-1" />
    {{- status[2] }}
  </span>
{% elif 'alert' in attrs.classes %}
  {# Alert #}
  <div {{ attrs.render(class="alert alert-" ~  status_color) }}>
    <RdwIcon :value="status_icon" class="me-1" />
    {{- status[1] }}
  </div>
{% endif %}
