{# def repo #}
{% set msg = get_flashed_messages() %}
{# Add our own warning based on repo status #}
{% if repo and repo.status[0] != 'ok' %}
  {% do msg.append((repo.status[1] + ' ' + _('The displayed data may be inconsistent.'), 'warning')) %}
{% endif %}
{% if msg %}<Flash messages={{ msg }} class="mb-2"/>{% endif %}
