{% set bootstrap_class_table = {
'Select': 'form-control',
'TextInput': 'form-control',
'TextArea': 'form-control',
'PasswordInput': 'form-control',
'EmailInput': 'form-control',
'SubmitInput': 'btn btn-secondary'} %}
{% for id, field in form._fields.items() %}
  {% if field.widget['input_type'] == 'hidden' %}
    {{ field(id=False) }}
  {% else %}
    {% set extra_label_class = field.errors and ' is-invalid' or '' %}
    {% set field_class = bootstrap_class_table.get(field.widget.__class__.__name__) %}
    {% if field.widget.__class__.__name__ == 'SubmitInput' %}
      <div class="form-group">
        {{ field(id=False, class=field_class) }}
        {% if field.description %}<div class="form-text small test-secondary">{{ field.description }}</div>{% endif %}
        {% for error in field.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
      </div>
    {% else %}
      <div class="form-group">
        {{ field.label(class="font-weight-bold" + extra_label_class) }}
        {{ field(id=False, class=field_class) }}
        {% if field.description %}<div class="form-text small test-secondary">{{ field.description }}</div>{% endif %}
        {% for error in field.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
