{% macro search_bar(search_placeholder=None, criterias=[], criteria='', search='') -%}
  <form accept-charset="UTF-8"
        action=""
        method="get"
        role="form"
        class="flex-grow-1 bg-light p-2 mb-2">
    <div class="form-row align-items-center">
      <div class="col-auto flex-fill">
        <label class="sr-only" for="search">{% trans %}Search{% endtrans %}</label>
        <input type="search"
               class="form-control"
               name="search"
               id="search"
               value="{{ search }}"
               placeholder="{{ search_placeholder or _('Search by') }}"/>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-search" aria-hidden="true"></i>
          {% trans %}Search{% endtrans %}
        </button>
      </div>
    </div>
  </form>
{% endmacro %}
