{# Dropdown select for notification #}
{% macro maxage_dropdown(value=-1, disabled=False) -%}
  <select {{ attrib(**kwargs) }}>
    <option value="0" {{ attrib(selected=value == 0) }}>{% trans %}disabled{% endtrans %}
    </option>
    <option value="1" {{ attrib(selected=value == 1) }}>{% trans %}1 day{% endtrans %}
    </option>
    <option value="2"  {{ attrib(selected=value == 2) }}>{% trans %}2 days{% endtrans %}
    </option>
    <option value="3"  {{ attrib(selected=value == 3) }}>{% trans %}3 days{% endtrans %}
    </option>
    <option value="4"  {{ attrib(selected=value == 4) }}>{% trans %}4 days{% endtrans %}
    </option>
    <option value="5"  {{ attrib(selected=value == 5) }}>{% trans %}5 days{% endtrans %}
    </option>
    <option value="6"  {{ attrib(selected=value == 6) }}>{% trans %}6 days{% endtrans %}
    </option>
    <option value="7"  {{ attrib(selected=value == 7) }}>{% trans %}1 week{% endtrans %}
    </option>
    <option value="14" {{ attrib(selected=value == 14) }}>{% trans %}2 weeks{% endtrans %}
    </option>
    <option value="21" {{ attrib(selected=value == 21) }}>{% trans %}3 weeks{% endtrans %}
    </option>
    <option value="28" {{ attrib(selected=value == 28) }}>{% trans %}4 weeks{% endtrans %}
    </option>
    <option value="31" {{ attrib(selected=value == 31) }}>{% trans %}1 month{% endtrans %}
    </option>
  </select>
{%- endmacro %}
