Source: rdiffweb
Section: web
Priority: optional
Maintainer: Patrik Dufresne <patrik@ikus-soft.com>
Build-Depends:
 chromium-driver,
 debhelper-compat (= 13),
 dh-python,
 dh-sequence-python3,
 help2man,
 lsb-release,
 pybuild-plugin-pyproject,
 python3,
 python3-all-dev,
 python3-apscheduler,
 python3-argon2,
 python3-babel,
 python3-cached-property,
 python3-cherrypy3,
 python3-configargparse,
 python3-distro,
 python3-html5lib,
 python3-humanfriendly,
 python3-jinja2,
 python3-ldap3,
 python3-oauthlib,
 python3-parameterized,
 python3-pip,
 python3-psutil,
 python3-pytest, 
 python3-requests,
 python3-requests-oauthlib,
 python3-responses,
 python3-selenium,
 python3-setuptools,
 python3-setuptools-scm,
 python3-sqlalchemy,
 python3-tz,
 python3-wtforms,
 python3-zxcvbn | python3-python-zxcvbn-rs-py,
 rdiff-backup,
Rules-Requires-Root: no
Standards-Version: 4.7.0
Homepage: https://rdiffweb.org
Vcs-Git: https://gitlab.com/ikus-soft/rdiffweb.git
Vcs-Browser: https://gitlab.com/ikus-soft/rdiffweb

Package: rdiffweb
Architecture: all
Depends:
 fonts-font-awesome,
 libjs-bootstrap4,
 libjs-chart.js,
 libjs-chartkick.js,
 libjs-jquery,
 libjs-jquery-datatables,
 libjs-jquery-datatables-extensions,
 rdiff-backup,
 ${python3:Depends},
 ${misc:Depends},
Suggests:
 python3-psycopg2,
Description: web interface to rdiff-backup repositories
 Rdiffweb is a web application that allows you to view repositories generated
 by rdiff-backup. The purpose of this application is to ease the management
 of backups and quickly restore your data with a rich and powerful web
 interface.
