Source: rdiffweb
Section: web
Priority: optional
Maintainer: Patrik Dufresne <patrik@ikus-soft.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 dh-sequence-python3,
 chromium-driver <!nocheck>,
 lsb-release,
 pybuild-plugin-pyproject,
 python3,
 python3-all-dev,
 python3-apscheduler <!nocheck>,
 python3-argon2 <!nocheck>,
 python3-babel,
 python3-cached-property <!nocheck>,
 python3-cherrypy3 <!nocheck>,
 python3-configargparse <!nocheck>,
 python3-distro <!nocheck>,
 python3-html5lib <!nocheck>,
 python3-humanfriendly <!nocheck>,
 python3-jinja2 <!nocheck>,
 python3-ldap3 <!nocheck>,
 python3-oauthlib <!nocheck>,
 python3-parameterized <!nocheck>,
 python3-pip,
 python3-psutil <!nocheck>,
 python3-pytest <!nocheck>,
 python3-requests <!nocheck>,
 python3-requests-oauthlib <!nocheck>,
 python3-responses <!nocheck>,
 python3-selenium <!nocheck>,
 python3-setuptools,
 python3-setuptools-scm,
 python3-sqlalchemy <!nocheck>,
 python3-tz <!nocheck>,
 python3-wtforms <!nocheck>,
 python3-zxcvbn | python3-python-zxcvbn-rs-py <!nocheck>,
 rdiff-backup <!nocheck>,
 xauth <!nocheck>,
 xvfb <!nocheck>,
Rules-Requires-Root: no
Standards-Version: 4.7.0
Homepage: https://rdiffweb.org
Vcs-Git: https://gitlab.com/ikus-soft/rdiffweb.git
Vcs-Browser: https://gitlab.com/ikus-soft/rdiffweb

Package: rdiffweb
Architecture: all
Depends:
 fonts-font-awesome,
 libjs-bootstrap4,
 libjs-chart.js,
 libjs-chartkick.js,
 libjs-jquery,
 libjs-jquery-datatables,
 libjs-jquery-datatables-extensions,
 rdiff-backup,
 ${misc:Depends},
 ${python3:Depends},
Suggests:
 python3-psycopg2,
Description: web interface to rdiff-backup repositories
 Rdiffweb is a web application that allows you to view repositories generated
 by rdiff-backup. The purpose of this application is to ease the management
 of backups and quickly restore your data with a rich and powerful web
 interface.
