[Unit]
Description=Minarca Web Server
Documentation=https://www.ikus-soft.com/en/minarca/

[Service]
ExecStart=/opt/minarca-server/bin/minarca-server
User=minarca
Group=minarca

[Install]
WantedBy=multi-user.target
