[Unit]
Description=Minarca Web Server
Documentation=http://www.patrikdufresne.com/en/minarca/

[Service]
ExecStart=/opt/minarca/bin/rdiffweb --config=/etc/minarca/minarca-server.conf
User=minarca
Group=minarca

[Install]
WantedBy=multi-user.target
