#!/usr/bin/make -f

export DH_VIRTUALENV_INSTALL_ROOT=/opt/
export SETUPTOOLS_SCM_PRETEND_VERSION=$(shell python3 setup.py --version)

%:
	dh $@ --with python-virtualenv --builddirectory=build

override_dh_virtualenv:
	dh_virtualenv --install-suffix minarca-server --setuptools-test --python python3

override_dh_installsystemd:
	dh_installsystemd --restart-after-upgrade

