:root {
    --link-color: #35979c;
    --navbar-color: #383E45;
    --font-family-sans-serif: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* Adjust for fixed header */
body {
    padding-top: 4.5rem;
    min-height: 100vh;
    font-family: var(--font-family-sans-serif);
}
/* Adjust navbar color */
.navbar.bg-dark {
    background-color: var(--navbar-color)!important;
}
/* Adjust primary color */
a {
    color: var(--link-color);
}
a:hover {
    filter: brightness(.85);
    color: var(--link-color);
}
.btn-primary {
    background-color: var(--link-color);
    border-color: var(--link-color);
}
.btn-primary:hover {
    filter: brightness(.85);
    background-color: var(--link-color);
    border-color: var(--link-color);
}
.btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    filter: brightness(.65);
    background-color: var(--link-color);
    border-color: var(--link-color);
}
.list-group-item.active {
    background-color: var(--link-color);
    border-color: var(--link-color);
}
.nav-pills .nav-link.active {
    background-color: var(--link-color);
    border-color: var(--link-color);
}