h3
{
   margin-bottom: 0.25em;
}

button
{
   border: 1px solid #888;
   background-color: #DDD;
   font-weight: bold;
   font-size: 120%;
   color: #555;
}

input
{
   font-size: 120%;
   border: 1px solid #999;
}

.error
{
   color: red;
}

#SetupCompleteDiv
{
   color: green;
}

table td
{
   vertical-align: middle;
}