<div id="page-content">
<h2>Admin panel</h2>
<!--StartIncludeIf:error--><p class="error">^error$</p><!--EndIncludeIf:error-->
<!--StartIncludeIf:message--><p class="message">^message$</p><!--EndIncludeIf:message-->

<div id="metanav">
<ul>
<li><a class="overlay-link" href="#adduser-overlay">Add user</a></li>
</ul>
</div>
<div id="adduser-overlay" class="simple-overlay">
<div class="overlay-content">
    <h3>Add user</h3>
    <form action="/admin/" method="post">
    <input style="display:none" name="action" value="add" />
        <div id="add-user-username-div" class="form-field">
            <label for="username">Username</label>
            <input type="text" name="username" value="^username$" id="username"/>
        </div>
        <div id="add-user-password-div" class="form-field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div id="add-user-userroot" class="form-field">
            <label for="userRoot">User root directory</label>
            <input type="text" name="userRoot" value="^userRoot$" id="userRoot"/>
        </div>
        <div id="add-user-isadmin" class="form-field">
             <!--StartIncludeIf:isAdmin--><input checked type="checkbox" name="isAdmin" /><!--EndIncludeIf:isAdmin-->
             <!--StartDeleteIf:isAdmin--><input type="checkbox" name="isAdmin" id="isAdmin"/><!--EndDeleteIf:isAdmin-->
             <label for="isAdmin">Is administrator</label>
        </div>
        <input type="submit" value="Add User" />
    </form>
</div>
</div>
    
<h3>Manage users</h3>
<table class="datatable">
    <thead>
        <tr>
            <th>Username</th>
            <th>User root directory</th>
            <th>Is administrator</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
<!--StartRepeat:users-->
    <tr>
        <td>^username$</td>
        <td>^userRoot$</td>
        <td>
            <!--StartIncludeIf:isAdmin-->Yes<!--EndIncludeIf:isAdmin-->
            <!--StartDeleteIf:isAdmin-->No<!--EndDeleteIf:isAdmin-->
        </td>
        <td>
            <a class="overlay-link" href="#edit-^username$">Edit</a>
            <div id="edit-^username$" class="simple-overlay">
                <div class="overlay-content">
                    <h3>Edit user ^username$</h3>
                    <form action="#" method="post">
                    <input style="display:none" name="action" value="edit" />
                    <input style="display:none" name="username" value="^username$" />
                    <div id="edit-^username$-userroot" class="form-field">
                       <label for="^username$-userRoot">User root directory</label>
                       <input type="text" class="textInput" name="userRoot" value="^userRoot$" id="^username$-userRoot"/>
                    </div>
                    <div id="edit-^username$-isadmin" class="form-field">
                       <input StartIncludeIf:isAdmin-checkedEndIncludeIf:isAdmin- type="checkbox" name="isAdmin" id="^username$-isadmin"/>
                       <label for="^username$-isadmin">Is administrator</label>
                    </div>
                    <input type="submit" class="groupboxButton" value="Save Changes" />
                    </form>
                </div>
            </div>
        </td>
        <td>
            <a href="/admin/deleteUser?user=^username$" onClick="if(!confirm('Are you sure that you wish to delete user ^username$?')) return(false);">Delete</a>
        </td>
    </tr>
<!--EndRepeat:users-->
    </tbody>
</table>
</div>
