{% extends 'layout.html' %}
{% set breadcrumbs = breadcrumb_page('admin') +  breadcrumb_page(self) %}
{% macro btn(url, label, icon) %}
  <a class="btn btn-secondary"
     href="{{ url }}"
     aria-label="{{ label }}"
     data-bs-toggle="tooltip"
     data-bs-placement="top"
     title="{{ label }}"
     role="button">
    <RdwIcon :value="{{ icon }}" />
  </a>
{% endmacro %}
{% block content %}
  {# Header #}
  <div class="d-flex flex-wrap justify-content-between mb-2">
    <h2>
      <RdwIcon :value="active_page.icon" class="me-1" />
      {{ active_page.label }}
    </h2>
    <div></div>
  </div>
  {% set ns = namespace(owner_buttons=[]) %}
  {% set ns.owner_buttons = ns.owner_buttons + [{'text': _('All Owners'), 'extend':'filter', 'column':1, 'search': '' }] %}
  {% for user in repos | map(attribute='owner') | unique | sort %}
    {% set ns.owner_buttons = ns.owner_buttons + [{'text': user, 'extend':'filter', 'column':1, 'search': user }] %}
  {% endfor %}
  {% set buttons = [
      {'text': _('Owner'), 'extend': 'collectionfilter', 'popoverTitle': _('Select Owner'), 'buttons': ns.owner_buttons, 'className':'btn-outline-secondary' },
      {'text': _('Healthy'), 'extend': 'filter', 'column': 5, 'search': 'ok', 'className':'btn-outline-primary ms-3'},
      {'text': _('Overdue'), 'extend': 'filter', 'column': 5, 'search': 'overdue', 'className':'btn-outline-primary'},
      {'text': _('Inactive'), 'extend': 'filter', 'column': 5, 'search': 'inactive', 'className':'btn-outline-primary'},
      {'text': _('Interrupted'), 'extend': 'filter', 'column': 5, 'search': 'interrupted', 'className':'btn-outline-primary'},
      {'text': _('In progress'), 'extend': 'filter', 'column': 5, 'search': 'in_progress', 'className':'btn-outline-primary'},
      {'text': _('Broken'), 'extend': 'filter', 'column': 5, 'search': 'broken', 'className':'btn-outline-primary'},
      {'text': _('Reset Filters'), 'extend': 'reset', 'className':'btn-secondary ms-3'},
    ] %}
  <RdwTable :buttons="{{ buttons }}" :paging="False" class="border rounded-2">
    <thead class="table-light small">
      <tr>
        <th scope="col">{% trans %}Repository{% endtrans %}</th>
        <th scope="col">{% trans %}Owner{% endtrans %}</th>
        <th scope="col" data-type="num">{% trans %}Last backup{% endtrans %}</th>
        <th scope="col" data-type="num">{% trans %}Overdue Period{% endtrans %}</th>
        <th scope="col" data-type="num">{% trans %}Inactivity Period{% endtrans %}</th>
        <th scope="col" data-type="num">{% trans %}Retention Duration{% endtrans %}</th>
        <th scope="col">{% trans %}Status{% endtrans %}</th>
        <th scope="col">{% trans %}Errors{% endtrans %}</th>
        <th scope="col" data-sortable="false" class="text-end">{% trans %}Action{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for repo in repos %}
        <tr>
          {# Name #}
          <td data-order="{{ repo.display_name }}">
            <a href="{{ url_for('browse', repo) }}"
               class="small fw-bold {% if repo.notes %}rdw-tooltip{% endif %}"
               data-bs-toggle="tooltip"
               title="{{ repo.notes }}">{{ repo.display_name -}}</a>
            <div class="small text-muted font-monospace">{{ repo.full_path.decode(errors='replace') }}</div>
          </td>
          {# Owner #}
          <td data-order="{{ repo.owner }}">
            <a href="{{ url_for('home', repo.owner) }}"
               class="badge text-bg-secondary text-decoration-none">
              <RdwIcon value="bi-person-fill" class="me-1" />
              {{- repo.owner }}
            </a>
          </td>
          {# Last backup date #}
          <td data-order="{{ repo.last_backup_date.epoch }}"
              class="text-muted small">
            <RdwTime :value="repo.last_backup_date" />
          </td>
          {# Overdue Period #}
          <td data-search="{{ repo.maxage }}" data-order="{{ repo.maxage }}">
            {% if repo.maxage %}
              <span class="badge text-bg-light border">{{ ( repo.maxage * 86400 )| format_timedelta(threshold=0.99) }}</span>
            {% else %}
              <span class="text-muted small">&mdash;</span>
            {% endif %}
          </td>
          {# Inactivity Period #}
          <td data-search="{{ repo.inactivity }}"
              data-order="{{ repo.inactivity }}">
            {% if repo.inactivity %}
              <span class="badge text-bg-light border">{{ ( repo.inactivity * 86400 )| format_timedelta(threshold=0.99) }}</span>
            {% else %}
              <span class="text-muted small">&mdash;</span>
            {% endif %}
          </td>
          {# Retention Duration #}
          <td data-search="" data-order="{{ repo.keepdays }}">
            {% if repo.keepdays>=1 %}
              <span class="badge text-bg-light border">{{ ( repo.keepdays * 86400 )| format_timedelta(threshold=0.99) }}</span>
            {% else %}
              <span class="badge text-bg-light border text-muted">{% trans %}Forever{% endtrans %}</span>
            {% endif %}
          </td>
          {# Status #}
          <td data-order="{{ repo.status[0] }}" data-search="{{ repo.status[0] }}">
            <RepoStatus :repo="repo" class="badge" />
          </td>
          {# Errors #}
          {% set error_count = (repo.session_statistics and repo.session_statistics[-1].errors) or 0 %}
          <td data-order="{{ error_count }}">
            {% if error_count > 0 %}
              {{ error_count }}
            {% else %}
              <span class="text-muted small">&mdash;</span>
            {% endif %}
          </td>
          <td data-search="" class="text-end">
            <div class="btn-group btn-group-sm">
              {% for page in page_registry.get_repo_nav_pages() %}
                <a href="{{ url_for(page, repo) }}"
                   class="btn btn-sm btn-outline-secondary"
                   title="{{ page.label }}">
                  <RdwIcon :value="page.icon" />
                </a>
              {% endfor %}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </RdwTable>
{% endblock %}
