{% extends 'layout.html' %}
{% set active_page='admin' %}
{% block title %}{% trans %}Admin area{% endtrans %}{% endblock %}
{% block body %}

<div class="spacer"></div>

<div class="container">
{# Navigation bar for Administration #}
<ul class="nav nav-tabs" role="tablist">
    <li {% if not admin_nav_active %}class="active"{% endif %}>
        <a href="/admin/">{% trans %}General info{% endtrans %}</a>
    </li>
    <li {% if admin_nav_active=="users"%}class="active"{% endif %}>
        <a href="/admin/users/">{% trans %}Users{% endtrans %}</a>
    </li>
    <li {% if admin_nav_active=="plugins"%}class="active"{% endif %}>
        <a href="/admin/plugins/">{% trans %}Plugins{% endtrans %}</a>
    </li>
</ul>  
{% include 'message.html' %}

<div class="spacer"></div>

{% block content %}
<div class="row spacer">
    <div class="col-md-6">
        <div class="well clearfix">
        <h1 class="text-center">{{ user_count }} 
            <small>{% trans %}users{% endtrans %}</small></h1>
        </div>  
    </div>
    <div class="col-md-6">
        <div class="well">
        <h1 class="text-center">{{ repo_count }}
            <small>{% trans %}repositories{% endtrans %}</small></h1>
        </div>
    </div>
</div>
{% endblock %}
<!-- /.container -->
</div>

{% endblock %}