{% extends 'layout.html' %}
{% set breadcrumbs = breadcrumb_page('admin') +  breadcrumb_page(self) %}
{% block content %}
  {# Header #}
  <div class="d-flex flex-wrap justify-content-between mb-2">
    <h2>
      <RdwIcon :value="active_page.icon" class="me-1" />
      {{ active_page.label }}
    </h2>
  </div>
  <p class="text-secondary small">{% trans %}Audit log of all user and system actions.{% endtrans %}</p>
  <RdwMessages :data="url_for('/admin/activity/data.json')"
               show="all"
               class="border rounded-2" />
{% endblock %}
