{% extends 'layout.html' %}
{% set breadcrumbs = breadcrumb_page('admin') + breadcrumb_page('admin_users') +  breadcrumb_page(self) %}
{% block content %}
  <div class="container">
    <h3>{% trans %}Add user{% endtrans %}</h3>
    <form method="post" action="{{ url_for() }}">
      <Fields form={{ form }} />
      <button type="submit" class="btn btn-primary">{% trans %}Add user{% endtrans %}</button>
      <a href="{{ url_for('admin', 'users') }}" class="btn btn-secondary">{% trans %}Cancel{% endtrans %}</a>
    </form>
  </div>
{% endblock content %}
