<!--StartDelete-->
<html>
<head>
   <link rel="stylesheet" href="../static/main.css" type="text/css" />
</head>
<body>
<script type="text/javascript" language="javascript" src="../static/globals.js"></script>
<!--EndDelete-->
<script type="text/javascript" language="javascript" src="../static/admin.js"></script>


<h2>Admin Panel</h2>
<!--StartIncludeIf:error--><p class="error">^error$</p><!--EndIncludeIf:error-->
<!--StartIncludeIf:message--><p class="message">^message$</p><!--EndIncludeIf:message-->
<h3>Manage Users</h3>
<table class="usersTable">
<!--StartRepeat:users-->
   <tr class="userNotEditingRow">
      <td>^username$</td>
      <td><a href="javascript:void 0" class="editLink">Edit User</a></td>
      <td><a href="/admin/deleteUser?user=^username$" onClick="if(!confirm('Are you sure that you wish to delete user ^username$?')) return(false) ">Delete User</a></td>
   </tr>
   <tr class="notEditingRow">
      <form action="" method="post">
         <td colspan="4" style="text-align:left">
            <input style="display:none" name="action" value="edit" />
            <input style="display:none" name="username" value="^username$" />
            <div>
               User Root Directory: <input class="textInput" name="userRoot" value="^userRoot$" />
            </div>
            <div style="text-align:left">
               <!--StartIncludeIf:isAdmin--><input checked type="checkbox" name="isAdmin" /><!--EndIncludeIf:isAdmin-->
               <!--StartDeleteIf:isAdmin--><input type="checkbox" name="isAdmin" /><!--EndDeleteIf:isAdmin-->
            User is admin?
            </div>
            <br/>
            <div><input type="submit" class="groupboxButton" value="Save Changes" /></div>
         </td>
      </form>
   </tr>
<!--EndRepeat:users-->
</table>

<br>
<form action="/admin/" method="post">
<input style="display:none" name="action" value="add" />
<h3>Add User</h3>
<table>
   <tr>
      <td>Username:</td>
      <td><input name="username" value="^username$" /></td>
   </tr>
   <tr>
      <td>Password:</td>
      <td><input name="password"></td>
   </tr>
   <tr>
      <td>User Root Directory:</td>
      <td><input name="userRoot" value="^userRoot$" /></td>
   </tr>
   <tr>
      <td>
         <!--StartIncludeIf:isAdmin--><input checked type="checkbox" name="isAdmin" /><!--EndIncludeIf:isAdmin-->
         <!--StartDeleteIf:isAdmin--><input type="checkbox" name="isAdmin" /><!--EndDeleteIf:isAdmin-->
         User is admin?
      </td>
   </tr>
</table>
<br>
<input type="submit" value="Add User" />
</form>


<!--StartDelete-->
<!--StartIncludeIf:emailsEnabled-->
<br>
<form>
<div class="groupboxDiv">
<br>
<h3 class="groupboxHeader">Email Notifications</h3>
rdiffWeb can be configured to notify user when their backups have not been run.<br>
To enable email notification, the following settings must be set:
<table>
   <tr>
      <td>Email Server:</td>
      <td><input class="textInput" name="emailHost" value="^emailHost$"></td>
   </tr>
   <!--<tr>
      <td>Email Port:</td>
      <td><input name="emailPort" value="25"></td>
   </tr>-->
   <tr>
      <td>From Email Address:</td>
      <td><input class="textInput" name="emailSender" value="^emailSender$"></td>
   </tr>
   <tr>
      <td colspan="2">The following must be set if the smtp server requires authentication:</td>
   </tr>
   <tr>
      <td>Email Username</td>
      <td><input class="textInput" name="emailUsername" value="^emailUsername$"></td>
   </tr>
   <tr>
      <td>Email Password</td>
      <td><input class="textInput" name="emailPassword" value="^emailPassword$"></td>
   </tr>
</table>
<input type="submit" value="Configure email settings"/>
</div>
</form>
<!--EndIncludeIf:emailsEnabled-->
<!--EndDelete-->
