{% extends 'layout.html' %}
{% from 'include/empty.html' import empty %}
{% from 'components/log.html' import pre_code %}
{% set breadcrumbs = breadcrumb_page('admin') + breadcrumb_page(self) %}
{% block content %}
  <h2>{{ active_page.label }}</h2>
  {# Log file selector #}
  <div class="mb-2 d-flex flex-wrap justify-content-between">
    <div class="d-flex">
      {% set active_name = name %}
      {% for name, filename in log_files.items() %}
        <a href="{{ url_for('admin', 'logs', name=name, limit=limit) }}"
           class="btn {% if name==active_name %}btn-secondary{% endif %}">{{ filename.split("/") | last }}</a>
      {% endfor %}
    </div>
    <div class="d-flex flex-row flex-grow-1 align-items-start justify-content-end"
         role="group">
      {% if data %}
        <div class="btn-group">
          {# Scroll down #}
          <a class="btn btn-outline-secondary"
             href="#bottom"
             title="{% trans %}Scroll to bottom{% endtrans %}">
            <RdwIcon value="bi-arrow-down" />
          </a>
          {# Download link #}
          <a class="btn btn-outline-secondary"
             href="{{ url_for('admin', 'logs', 'raw', name=name) }}"
             title="{% trans %}Show complete raw{% endtrans %}">
            <RdwIcon value="bi-file-earmark-code" />
          </a>
        </div>
      {% endif %}
    </div>
  </div>
  {% if not log_files %}
    <RdwEmpty icon="log" :title="{{ _("No log file available") }}" class="p-5">
      <p>{% trans %}The server is not configured to log in any file.{% endtrans %}</p>
    </RdwEmpty>
  {% elif data %}
    {% if data.count('\n') >= 1999 %}
      <div class="alert alert-info">
        {% trans %}Notice: To prevent performance issues, only the last 2000 lines of the log are displayed.{% endtrans %}
      </div>
    {% endif %}
    <RdwLog :data="{{ data }}" />
    {# Scroll up #}
    <div class="sticky-bottom float-end p-2">
      <a href="#top"
         class="btn btn-outline-secondary bg-white"
         title="{% trans %}Scroll to top{% endtrans %}">
        <RdwIcon value="bi-arrow-up" />
      </a>
    </div>
  {% elif name or date %}
    {# Log file is empty. #}
    <div class="border-top">
      <RdwEmpty icon="log" :title="{{ _("Log file empty") }}" class="p-5">
        <p>{% trans %}This log file is empty. Select another log file to show it's contents.{% endtrans %}</p>
      </RdwEmpty>
    </div>
  {% else %}
    {# Log file not selected #}
    <div class="border-top">
      <RdwEmpty icon="log" :title="{{ _("No log file selected") }}" class="p-5">
        <p>{% trans %}Select a log file to show it's contents.{% endtrans %}</p>
      </RdwEmpty>
    </div>
  {% endif %}
{% endblock %}
