{% extends 'admin.html' %}
{% block title %}
  {% trans %}System Info{% endtrans %}
{% endblock %}
{% set admin_nav_active="sysinfo" %}
{% block content %}
  {% set section_items = [
  (_('Application Version'), [(_('Core Version'), version)] + plugins|d([]) ),
  (_('Application Config'), cfg.items()),
  (_('System usage'), hwinfo),
  (_('Operating System Info'), osinfo),
  (_('Dependencies Version'), ldapinfo),
  (_('Python Info'), pyinfo),]%}
  {% for section_name, items in section_items %}
    <h3>{{ section_name }}</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="sr-only">
          <tr>
            <th scope="col" width="25%">Description</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          {% for k, v in items %}
            <tr>
              <td width="25%">{{k}}</td>
              <td>{{v}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
{% endblock %}
