{% extends 'admin.html' %}
{% block title %}{% trans %}User management{% endtrans %}{% endblock %}
{% set admin_nav_active="users" %}
{% block content %}
	
{% from 'include/modal_dialog.html' import modal_dialog, button_confirm, modal_confirm %}
{% from 'include/search.html' import search_bar %}

{% call search_bar(
    search_placeholder=_('Search by name, email or username'),
    criterias=[('',_('All')), ('admins', _('Admins')), ('ldap', _('LDAP'))],
    criteria=criteria,
    search=search) %}
<div class="pull-right">
    <button type="button" class="btn btn-success" data-toggle="modal"
        data-target="#add-user-modal">{% trans %}Add user{% endtrans %}</button>
</div>
{% endcall %}

<!-- Users View -->
<div class="row">
    <div class="col-md-12">
    {% if users %}
    <div class="panel panel-default">
        <ul class="list-group">
            {% for user in users|sort(attribute='username') %}
            <li class="list-group-item clearfix">
                {{ user.username }}
                {% if user.email %}
                <span class="light">
                    ({{ user.email }})
                </span>
                {% endif%}
                <span class="label label-default">#{{user.userid}}</span>
                {% if user.is_admin %}
                <span class="label label-info">{% trans %}Admin{% endtrans %}</span>
                {% elif user.is_maintainer %}
                <span class="label label-info">{% trans %}Maintainer{% endtrans %}</span>
                {% endif %}
                {% if user.is_ldap %}
                <span class="label label-default">{% trans %}LDAP{% endtrans %}</span>
                {% endif %}
                {% if user.username == username %}
                <span class="label label-success">{% trans %}It's you{% endtrans %}</span>
                {% endif %}
                
                <div class="pull-right">
                    <span class="light">
                        {{ user.user_root }}
                        {% if not user.valid_user_root() %}
                        <span class="text-danger"><i class="icon-attention"></i> {%trans%}Root directory not accessible!{% endtrans %}</span>
                        {% endif %}
                    </span>
                    <button type="button" class="btn btn-default"
                            data-toggle="modal"
                            data-target="#edit-user-{{ user.username }}-modal">
                        {% trans %}Edit{% endtrans %}</button>
                    {{ button_confirm(label=_('Delete'), target="#delete-user-modal", action="delete", username=user.username) }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    </div>
    {% else %}
    <p class="text-center">{% trans %}No users found{% endtrans%}</p>
    {% endif %}
<!-- /.row -->
</div>

{% macro user_form(form, id=None, user=None) %}
<div class="alert alert-info" role="alert">
{% trans %}To create an LDAP user, use the same username. You may leave the email and password empty.{% endtrans %}
</div>
{% if user%}{{ form.process(obj=user) or ''}}{%endif%}
<div class="form-group">
    {{form.username.label(class="col-sm-3 control-label")}}
    <div class="col-sm-7">
    {{form.username(class="form-control", autocorrect="off", autocapitalize="none", autocomplete="off")}}
    </div>
</div>
<div class="form-group">
    {{form.email.label(class="col-sm-3 control-label")}}
    <div class="col-sm-7">
    {{form.email(class="form-control")}}
    </div>
</div>
<div class="form-group">
    {{form.password.label(class="col-sm-3 control-label")}}
    <div class="col-sm-7">
    {{form.password(class="form-control")}}
    </div>
</div>
<div class="form-group">
    {{form.user_root.label(class="col-sm-3 control-label")}}
    <div class="col-sm-7">
    {{form.user_root(class="form-control")}}
    <span class="help-block">{{form.user_root.description}}</span>
    </div>
</div>
<div class="form-group">
    {{form.role.label(class="col-sm-3 control-label")}}
    <div class="col-sm-7">
    {{form.role(class="form-control")}}
    <span class="help-block">{{form.role.description}}</span>
    </div>
</div>

<div class="form-group">
    {{form.disk_quota.label(class="col-sm-3 control-label")}}
    <div class="col-sm-7">
    {{form.disk_quota(class="form-control", disabled=form.disk_quota.data is none)}}
    {% if form.disk_quota.data and form.disk_usage.data %}
    <span class="help-block">{{form.disk_quota.description}}</span>
    {% set used_pct = form.disk_usage.data / form.disk_quota.data * 100 | round %}
    {% set used_pct_display = 10 if used_pct < 10 else used_pct %}
    {% set used_str = form.disk_usage.data | filesize %}
    {% set avail_str = (form.disk_quota.data - form.disk_usage.data) | filesize %}
    <div class="progress">
      <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{ used_pct }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ used_pct_display }}%">
        {{ used_str }} {% trans %}used{% endtrans %}
      </div>
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ used_pct }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ 100 - used_pct_display }}%">
        {{ avail_str }} {% trans %}free{% endtrans %}
      </div>
    </div>
    {% else %}
    <span class="help-block">User's quota is not enabled.</span>
    {% endif %}
    </div>
</div>
{% endmacro %}

{# Dialog to create new user. #}
{% call modal_dialog('add-user-modal',_('Add user'), _('Add user')) %}
    <input type="hidden" name="action" value="add" >
    {{ user_form(form=add_form) }}
{% endcall %}

{# Dialogs to edit user. #}
{% for user in users|sort(attribute='username') %}
{% set modalid = "edit-user-" + user.username + "-modal" %}
{% call modal_dialog(modalid, _('Edit user %(name)s', name=user.username), _('Save changes')) %}
    <input type="hidden" name="action" value="edit" >
    {{ user_form(form=edit_form, id=loop.idx, user=user) }}
{% endcall %}
{% endfor %}

<!-- Delete User Modal -->
{{ modal_confirm(
    id='delete-user-modal',
    title=_('Delete User'),
    message=_("Are you sure you want to delete this User?"),
    fields=['action', 'username'],
    submit=_('Delete')) }}

{% endblock %}
