{% extends 'admin.html' %}
{% block title %}{% trans %}User management{% endtrans %}{% endblock %}
{% set admin_nav_active="logs" %}
{% block content %}
    
{% import 'macros.html' as macros with context %}

<div class="row">
	{% if logfiles %}
	<div class="col-md-12">
	    <ul class="nav nav-pills">
	        {% for fn in logfiles %}
	        <li {% if fn == filename%}class="active"{% endif %}>
	            <a href="{{ url_for('admin/logs', fn) }}">{{ fn }}</a>
	        </li>
	        {% endfor %}
	    </ul>
    <div class="spacer"></div>
	<div class="well well-sm">{% trans %}Notice: To prevent performance issues, only the last 2000 lines are displayed.{% endtrans %}</div>
	<pre class="file-content">{{data}}</pre>
	</div>
	{% else %}
	<div class="col-md-offset-3 col-md-6 text-center">
	   <p class="h1"><i class="icon-doc-text"></i></p>
	   <p class="h1">{% trans %}No log files{% endtrans %}</p>
	   <p>{% trans %}The application must be configured with logfile location if you want to display their content in this view.{% endtrans %}</p>
	</div>
	{% endif %}
<!-- /.row -->
</div>

{% endblock %}

