{% extends "layout.html" %}
{% from 'include/table.html' import table %}
{% set active_page='admin' %}
{% block title %}
  {% trans %}Admin area{% endtrans %}
{% endblock title %}
{% block body %}
  <div class="container-fluid">
    {# Navigation bar for Administration #}
    {% set admin_nav_items = [
    ('', _('Overview'), not admin_nav_active),
    ('users', _('Users'), admin_nav_active=='users'),
    ('repos', _('Repositories'), admin_nav_active=='repos'),
    ('session', _('User Sessions'), admin_nav_active=='session'),
    ('logs', _('System Logs'), admin_nav_active=='logs'),
    ('sysinfo', _('System Info'), admin_nav_active=='sysinfo')] %}
    <ul class="nav nav-tabs mb-2" role="tablist">
      {% for key, label, active in admin_nav_items %}
        <li class="nav-item">
          <a class="nav-link{% if active %} active{% endif %}"
             href="{{ url_for('admin', key, '') }}">{{ label }}</a>
        </li>
      {% endfor %}
    </ul>
    {% include "message.html" %}
    {% block content %}
    {% endblock content %}
  </div>
{% endblock body %}
