<div id="page-content">
<h2>Admin panel</h2>
<!--StartIncludeIf:error--><p class="error">^error$</p><!--EndIncludeIf:error-->
<!--StartIncludeIf:message--><p class="message">^message$</p><!--EndIncludeIf:message-->

<div id="manageuser-div" class="section">
    <h3>Manage users</h3>
    <table class="datatable">
        <thead>
        	<td>Username</td>
        	<td>User root directory</td>
        	<td>Is administrator</td>
        	<td>&nbsp;</td>
        	<td>&nbsp;</td>
        </thead>
	<!--StartRepeat:users-->
	    <tr>
	        <td>^username$</td>
	        <td>^userRoot$</td>
	        <td>
	            <!--StartIncludeIf:isAdmin-->Yes<!--EndIncludeIf:isAdmin-->
                <!--StartDeleteIf:isAdmin-->No<!--EndDeleteIf:isAdmin-->
	        </td>
	        <td>
	            <a href="javascript:void 0" class="overlay-link" rel="#edit-^username$">Edit</a>
	            <div id="edit-^username$" class="simple-overlay">
	            	<div class="overlay-content">
	            		<h3>Edit user ^username$</h3>
			         	<form action="" method="post">
			            <input style="display:none" name="action" value="edit" />
			            <input style="display:none" name="username" value="^username$" />
			            <div id="edit-user-userroot" class="form-field">
			               <label for="userRoot">User root directory</label>
			               <input type="text" class="textInput" name="userRoot" value="^userRoot$" />
			            </div>
			            <div id="edit-user-isadmin" class="form-field">
			               <!--StartIncludeIf:isAdmin--><input checked type="checkbox" name="isAdmin" /><!--EndIncludeIf:isAdmin-->
			               <!--StartDeleteIf:isAdmin--><input type="checkbox" name="isAdmin" /><!--EndDeleteIf:isAdmin-->
			            	<label for="isAdmin">Is administrator</label>
			            </div>
			            <input type="submit" class="groupboxButton" value="Save Changes" />
			            </form>
		            </div>
	            </div>
	        </td>
	        <td>
	        	<a href="/admin/deleteUser?user=^username$" onClick="if(!confirm('Are you sure that you wish to delete user ^username$?')) return(false);">Delete</a>
	        </td>
	    </tr>
	<!--EndRepeat:users-->
	</table>
</div>

<div id="adduser-div" class="section">
	<h3>Add user</h3>
	<form action="/admin/" method="post">
	<input style="display:none" name="action" value="add" />
		<div id="add-user-username-div" class="form-field">
	        <label for="username">Username</label>
	        <input type="text" name="username" value="^username$" />
		</div>
		<div id="add-user-password-div" class="form-field">
	        <label for="password">Password</label>
	        <input type="password" name="password">
		</div>
		<div id="add-user-userroot" class="form-field">
	        <label for="userRoot">User root directory</label>
	        <input type="text" name="userRoot" value="^userRoot$" />
		</div>
		<div id="add-user-isadmin" class="form-field">
	         <!--StartIncludeIf:isAdmin--><input checked type="checkbox" name="isAdmin" /><!--EndIncludeIf:isAdmin-->
	         <!--StartDeleteIf:isAdmin--><input type="checkbox" name="isAdmin" /><!--EndDeleteIf:isAdmin-->
	         <label for="isAdmin">Is administrator</label>
		</div>
		<input type="submit" value="Add User" />
	</form>
</div>


<!--StartDelete-->
<!--StartIncludeIf:emailsEnabled-->
<form>
<h3>Email Notifications</h3>
rdiffWeb can be configured to notify user when their backups have not been run.<br>
To enable email notification, the following settings must be set:
<table>
   <tr>
      <td>Email Server:</td>
      <td><input class="textInput" name="emailHost" value="^emailHost$"></td>
   </tr>
   <!--<tr>
      <td>Email Port:</td>
      <td><input name="emailPort" value="25"></td>
   </tr>-->
   <tr>
      <td>From Email Address:</td>
      <td><input class="textInput" name="emailSender" value="^emailSender$"></td>
   </tr>
   <tr>
      <td colspan="2">The following must be set if the smtp server requires authentication:</td>
   </tr>
   <tr>
      <td>Email Username</td>
      <td><input class="textInput" name="emailUsername" value="^emailUsername$"></td>
   </tr>
   <tr>
      <td>Email Password</td>
      <td><input class="textInput" name="emailPassword" value="^emailPassword$"></td>
   </tr>
</table>
<input type="submit" value="Configure email settings"/>
</form>
<!--EndIncludeIf:emailsEnabled-->
<!--EndDelete-->
</div>