{% include 'page_start.html' %}
{% include 'nav_bar.html' %}
<div class="container">
    <h2>{{ title }}</h2>

    <ol class="breadcrumb">
        <li>
            <a href="/">Locations</a>
        </li>
        {% for parent in parents %}
        <li class="active">
            <a href="{{ url_for_browse(repo, parent.path) }}">
                {{ parent.name }}
            </a>
        </li>
        {% endfor %}
    </ol>

    <ul class="nav nav-pills">
        <li {% if not restore_dates %}class="active"{% endif%}>
            <a href="{{ url_for_browse(repo, path) }}">View Folder</a>
        </li>
        <li {% if restore_dates %}class="active"{% endif %}>
            <a href="{{ url_for_browse(repo, path, restore=True) }}">Restore Folder</a>
        </li>
    </ul>

    {% include 'message.html' %}

    {% if not restore_dates %}
    <table id="files" class="sortable table">
        <thead>
            <tr>
                <th id="name" class="sortable" data-type="str">Name</th>
                <th id="size" class="sortable" data-type="int">Size</th>
                <th id="last-revision" class="sortable" data-type="int">Last Revision</th>
                <th>Previous Revisions</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in dir_entries %}
            <tr class="{% if entry.exists %}exists{% else %}notexists{% endif %}">
                <td data-value="{{ entry.display_name }}"
                    class="nowrap">
                    <a {% if entry.isdir %}
                        href="{{ url_for_browse(repo,entry.path) }}"
                        {% else %}
                        href="{{ url_for_restore(repo, entry.path, entry.last_change_date) }}"
                        {% endif %}
                        {% if entry.display_name | length > 45 %}
                        title="{{ entry.display_name }}"
                        {% endif %}>
                        <i {% if entry.isdir %}class="icon-folder"{% else %}class="icon-file"{% endif %}></i>
                        {% if entry.isdir %}<span class="sr-only">&lt;DIR&gt;</span>{% endif %}
                        {% if not entry.exists %}<span class="sr-only">&lt;DELETED&gt;</span>{% endif %}
                        {{ entry.display_name | truncate(45,True) }}
                    </a>
                </td>
                <td class="nowrap" data-value="{% if not entry.isdir %}{{ entry.file_size }}{% else %}0{% endif %}">
                    {% if not entry.isdir %}
                    {{ entry.file_size | filesize }}
                    {% endif %}
                </td>
                <td class="nowrap"  data-value="{{ entry.last_change_date.getSeconds() }}">
                    {{ entry.last_change_date | datetime }}
                </td>
                <td>
                    {% if not entry.isdir and ( entry.change_dates | length ) > 1 %}
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                            {{ entry.change_dates | length -1 }} previous revisions<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            {% for change_date in entry.change_dates[:-1] | reverse %}
                            <li>
                                <a href="{{ url_for_restore(repo, entry.path, change_date) }}">
                                    <!-- File date -->
                                    {{ change_date | datetime }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Choose a backup to restore</th>
            </tr>
        </thead>
        <tbody>
            {% for restore_date in restore_dates | reverse %}
            <tr>
                <td>
                    <a href="{{ url_for_restore(repo, path, restore_date) }}">{{ restore_date | datetime }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% include 'page_end.html' %}
