<div id="page-content">
<h2>
  ^title$
  <!--StartRepeat:parentDirs-->
  / <!--StartIncludeIf:parentPath--><a href=^parentPath$><!--EndIncludeIf:parentPath-->^parentDir$<!--StartIncludeIf:parentPath--></a><!--EndIncludeIf:parentPath-->
  <!--EndRepeat:parentDirs-->
</h2>

<div id="metanav">
<ul>
<li class="StartDeleteIf:viewUrl-activeEndDeleteIf:viewUrl-"><a href="StartDeleteIf:viewUrl-#EndDeleteIf:viewUrl-StartIncludeIf:viewUrl-^viewUrl$ EndIncludeIf:viewUrl-">View Folder</a></li>
<li class="StartDeleteIf:restoreUrl-activeEndDeleteIf:restoreUrl-" ><a href="StartDeleteIf:restoreUrl-#EndDeleteIf:restoreUrl-StartIncludeIf:restoreUrl-^restoreUrl$EndIncludeIf:restoreUrl-">Restore Folder</a></li>
</ul>
</div>

<!--StartIncludeIf:warning-->
<p class="warning">
   ^warning$
</p>
<!--EndIncludeIf:warning-->

<!--StartIncludeIf:restoreUrl-->
<table class="datatable">
<thead>
   <tr>
      <td>Name</td>
      <td>Size</td>
      <td>Last Revision</td>
      <td>Previous Revisions</td>
   </tr>
</thead>
<tbody>
   <!--StartRepeat:files-->
   <!--StartDeleteIf:exists-->
   <tr class="notexists StartIncludeIf:altRow- altRow EndIncludeIf:altRow-" >
   <!--EndDeleteIf:exists-->
   <!--StartIncludeIf:exists-->
   <tr class="exists StartIncludeIf:altRow- altRow EndIncludeIf:altRow-" >
   <!--EndIncludeIf:exists-->
      <td class="Icon ^filetype$ "><a href="^fileRestoreUrl$">^filename$</a></td>
      <td>^size$</td>
      <td>^date$</td>
      <td>
      	 <!--StartIncludeIf:hasPrevRevisions-->
         <a class="overlay-link" rel="#revision-^filename$" href="javascript:void 0">^numPrevRevisions$ Previous Revision<!--StartIncludeIf:hasMultipleRevisions-->s<!--EndIncludeIf:hasMultipleRevisions--></a>
         <div id="revision-^filename$" class="simple-overlay revisions">
             <div class="overlay-content">
             <p>Select the revision to be restored.</p>
	         <ul>
	            <!--StartRepeat:changeDates-->
	               <li><a href="^changeDateUrl$">^changeDateStr$</a></li>
	            <!--EndRepeat:changeDates-->
	         </ul>
	         </div>
         </div>
         <!--EndIncludeIf:hasPrevRevisions-->
         <!--StartDeleteIf:hasPrevRevisions-->
         No Previous Revisions
         <!--EndDeleteIf:hasPrevRevisions-->
      </td>
   </tr>
   <!--EndRepeat:files-->
</tbody>
</table>
<!--EndIncludeIf:restoreUrl-->

<!--StartIncludeIf:viewUrl-->
<table class="datatable">
<thead>
   <tr>
      <td>Choose a backup to restore</td>
   </tr>
</thead>
<tbody>
   <!--StartRepeat:restoreDates-->
   <tr StartIncludeIf:altRow- class="altRow" EndIncludeIf:altRow- >
      <td class="icon history"><a href="^dirRestoreUrl$">^dateStr$</a></td>
   </tr>
   <!--EndRepeat:restoreDates-->
</tbody>
</table>
<!--EndIncludeIf:viewUrl-->
</div>