{% extends 'email_layout.html' %}
{% block title %}
  {% if user.mfa %}
    {% trans %}Two-Factor Authentication turned on{% endtrans %}
  {% else %}
    {% trans %}Two-Factor Authentication turned off{% endtrans %}
  {% endif %}
{% endblock title %}
{% block body %}
  <h1>
    <a>{% trans username=(user.fullname or user.username) %}Hey {{ username }},{% endtrans %}</a>
  </h1>
  <p>
    {% if user.mfa %}
      {% trans %}Your {{ header_name }} Account is now protected with Two-Factor Authentication. When you sign in on a new or untrusted device, you'll need your second factor to verify your identity.{% endtrans %}
    {% else %}
      {% trans %}Your {{ header_name }} account is no longer protected with Two-Factor Authentication. You don't need your second factor to sign in.{% endtrans %}
    {% endif %}
  </p>
{% endblock body %}
