{% extends 'email_layout.html' %}
{% block title %}
  {% if time_range == 30 %}
    {% trans %}Monthly Backup Report{% endtrans %}
  {% elif time_range == 7 %}
    {% trans %}Weekly Backup Report{% endtrans %}
  {% elif time_range == 1 %}
    {% trans %}Daily Backup Report{% endtrans %}
  {% else %}
    {% trans %}Backup Report{% endtrans %}
  {% endif %}
{% endblock title %}
{% block body %}
  <h1>
    <a>{% trans username=(user.fullname or user.username) %}Hey {{ username }},{% endtrans %}</a>
  </h1>
  <p>
    {% set start =  start_time.epoch|format_datetime("long") %}
    {% set end =  end_time.epoch|format_datetime("long") %}
    {% if time_range == 30 %}
      {% trans %}Here is your monthly backup report for last month presenting and overview of the activities within your backup from {{ start }} to {{ end }}.{% endtrans %}
    {% elif time_range == 7 %}
      {% trans %}Here is your weekly backup report for previous week presenting and overview of the activities within your backup from {{ start }} to {{ end }}.{% endtrans %}
    {% elif time_range == 1 %}
      {% trans %}Here is your daily backup report for yesterday presenting and overview of the activities within your backup for {{ start }}.{% endtrans %}
    {% else %}
      {% trans %}Here is your backup report presenting and overview of the activities within your backup from {{ start }} to {{ end }}.{% endtrans %}
    {% endif %}
  </p>
  {% if disk_usage and disk_quota %}
    {% set used_pct = disk_usage / disk_quota * 100 %}
    <b>{% trans %}Storage Usage: {% endtrans %} {{ used_pct|int }}%</b>
    <table border="0"
           cellpadding="0"
           cellspacing="0"
           style="border-radius: 6px;
                  border-collapse: separate !important;
                  width: 100%;
                  overflow: hidden;
                  border: 1px solid #e2e8f0;"
           bgcolor="#ffffff">
      <tbody>
        <tr>
          <td style="line-height: 24px;
                     font-size: 16px;
                     width: 100%;
                     margin: 0;"
              align="left"
              bgcolor="#ffffff">
            <table class="card-body bg-light"
                   role="presentation"
                   border="0"
                   cellpadding="0"
                   cellspacing="0"
                   style="width: 100%;"
                   bgcolor="#f7fafc">
              <tbody>
                <tr>
                  <td style="line-height: 24px;
                             font-size: 16px;
                             width: 100%;
                             margin: 0;
                             padding: 20px;"
                      align="left"
                      bgcolor="#f7fafc">
                    <div class="row" style="margin-right: -24px;">
                      <table class=""
                             role="presentation"
                             border="0"
                             cellpadding="0"
                             cellspacing="0"
                             style="table-layout: fixed;
                                    width: 100%;"
                             width="100%">
                        <tbody>
                          <tr>
                            <td class="col-4"
                                style="line-height: 24px;
                                       font-size: 16px;
                                       min-height: 1px;
                                       font-weight: normal;
                                       padding-right: 24px;
                                       width: 33.333333%;
                                       {% if used_pct>90 %}color: #ffc107;
                                       {% endif %} margin: 0;"
                                align="left"
                                valign="top">
                              {% trans %}Used{% endtrans %}
                              <h5 style="padding-top: 0;
                                         padding-bottom: 0;
                                         font-weight: 500;
                                         vertical-align: baseline;
                                         font-size: 20px;
                                         line-height: 24px;
                                         margin: 0;"
                                  align="left">
                                {{ disk_usage | filesize }}
                              </h5>
                            </td>
                            <td class="col-4"
                                style="line-height: 24px;
                                       font-size: 16px;
                                       min-height: 1px;
                                       font-weight: normal;
                                       padding-right: 24px;
                                       width: 33.333333%;
                                       {% if used_pct>90 %}color: #ffc107;
                                       {% endif %} margin: 0;"
                                align="left"
                                valign="top">
                              {% trans %}Free{% endtrans %}
                              <h5 style="padding-top: 0;
                                         padding-bottom: 0;
                                         font-weight: 500;
                                         vertical-align: baseline;
                                         font-size: 20px;
                                         line-height: 24px;
                                         margin: 0;"
                                  align="left">
                                {{ (disk_quota - disk_usage) | filesize }}
                              </h5>
                            </td>
                            <td class="col-4"
                                style="line-height: 24px;
                                       font-size: 16px;
                                       min-height: 1px;
                                       font-weight: normal;
                                       padding-right: 24px;
                                       width: 33.333333%;
                                       margin: 0;"
                                align="left"
                                valign="top">
                              {% trans %}Total{% endtrans %}
                              <h5 style="padding-top: 0;
                                         padding-bottom: 0;
                                         font-weight: 500;
                                         vertical-align: baseline;
                                         font-size: 20px;
                                         line-height: 24px;
                                         margin: 0;"
                                  align="left">
                                {{ disk_quota | filesize }}
                              </h5>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- mb-4 -->
    <table class="s-4 w-full"
           role="presentation"
           border="0"
           cellpadding="0"
           cellspacing="0"
           style="width: 100%;"
           width="100%">
      <tbody>
        <tr>
          <td style="line-height: 16px;
                     font-size: 16px;
                     width: 100%;
                     height: 16px;
                     margin: 0;"
              align="left"
              width="100%"
              height="16">
            &#160;
          </td>
        </tr>
      </tbody>
    </table>
  {% endif %}
  {% for repo in data %}
    <b>{{ repo.display_name }}</b>
    <table class="card"
           role="presentation"
           border="0"
           cellpadding="0"
           cellspacing="0"
           style="border-radius: 6px;
                  border-collapse: separate !important;
                  width: 100%;
                  overflow: hidden;
                  border: 1px solid #e2e8f0;"
           bgcolor="#ffffff">
      <tbody>
        <tr>
          <td style="line-height: 24px;
                     font-size: 16px;
                     width: 100%;
                     margin: 0;"
              align="left"
              bgcolor="#ffffff">
            <table class="card-body bg-light"
                   role="presentation"
                   border="0"
                   cellpadding="0"
                   cellspacing="0"
                   style="width: 100%;"
                   bgcolor="#f7fafc">
              <tbody>
                <tr>
                  <td style="line-height: 24px;
                             font-size: 16px;
                             width: 100%;
                             margin: 0;
                             padding: 20px;"
                      align="left"
                      bgcolor="#f7fafc">
                    <div class="row" style="margin-right: -24px;">
                      <table class=""
                             role="presentation"
                             border="0"
                             cellpadding="0"
                             cellspacing="0"
                             style="table-layout: fixed;
                                    width: 100%;"
                             width="100%">
                        <tbody>
                          <tr>
                            <td class="col-4"
                                style="line-height: 24px;
                                       font-size: 16px;
                                       min-height: 1px;
                                       font-weight: normal;
                                       padding-right: 24px;
                                       width: 33.333333%;
                                       margin: 0;"
                                align="left"
                                valign="top">
                              {% trans %}Last backup Date{% endtrans %}
                              <h5 style="padding-top: 0;
                                         padding-bottom: 0;
                                         font-weight: 500;
                                         vertical-align: baseline;
                                         font-size: 20px;
                                         line-height: 24px;
                                         margin: 0;"
                                  align="left">
                                {{ repo.last_backup_date.epoch|format_datetime("short") if repo.last_backup_date else '-' }}
                              </h5>
                            </td>
                            <td class="col-4"
                                style="line-height: 24px;
                                       font-size: 16px;
                                       min-height: 1px;
                                       font-weight: normal;
                                       padding-right: 24px;
                                       width: 33.333333%;
                                       margin: 0;"
                                align="left"
                                valign="top">
                              {% trans %}Error Count{% endtrans %}
                              <h5 style="padding-top: 0;
                                         padding-bottom: 0;
                                         font-weight: 500;
                                         vertical-align: baseline;
                                         font-size: 20px;
                                         line-height: 24px;
                                         margin: 0;"
                                  align="left">
                                {{ repo.errors if repo.errors is not none else '-' }}
                              </h5>
                            </td>
                            <td class="col-4"
                                style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; width: 33.333333%; {% if repo.status[0] == 'ok' %}color: #13795b;{% else %}color: #ffc107;{% endif %} margin: 0;"
                                align="left"
                                valign="top">
                              {% trans %}Status{% endtrans %}
                              <h5 style="padding-top: 0; padding-bottom: 0; font-weight: 500; vertical-align: baseline; {% if repo.status[0] == 'ok' %}font-size: 20px;{% else %}font-size: 16px;{% endif %} line-height: 24px; margin: 0;"
                                  align="left">
                                {{ repo.status[1] }}
                              </h5>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <table class="s-4 w-full"
                           role="presentation"
                           border="0"
                           cellpadding="0"
                           cellspacing="0"
                           style="width: 100%;"
                           width="100%">
                      <tbody>
                        <tr>
                          <td style="line-height: 16px;
                                     font-size: 16px;
                                     width: 100%;
                                     height: 16px;
                                     margin: 0;"
                              align="left"
                              width="100%"
                              height="16">
                            &#160;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="row" style="margin-right: -24px;">
                      <table class=""
                             role="presentation"
                             border="0"
                             cellpadding="0"
                             cellspacing="0"
                             style="table-layout: fixed;
                                    width: 100%;"
                             width="100%">
                        <tbody>
                          <tr>
                            <td class="col-4"
                                style="line-height: 24px;
                                       font-size: 16px;
                                       min-height: 1px;
                                       font-weight: normal;
                                       padding-right: 24px;
                                       width: 33.333333%;
                                       margin: 0;"
                                align="left"
                                valign="top">
                              {% trans %}Current size{% endtrans %}
                              <h5 style="padding-top: 0;
                                         padding-bottom: 0;
                                         font-weight: 500;
                                         vertical-align: baseline;
                                         font-size: 20px;
                                         line-height: 24px;
                                         margin: 0;"
                                  align="left">
                                {{ repo.sourcefilesize|filesize if repo.sourcefilesize is not none else '-' }}
                              </h5>
                            </td>
                            <td class="col-4"
                                style="line-height: 24px;
                                       font-size: 16px;
                                       min-height: 1px;
                                       font-weight: normal;
                                       padding-right: 24px;
                                       width: 33.333333%;
                                       margin: 0;"
                                align="left"
                                valign="top">
                              {% trans %}Increase size{% endtrans %}
                              <h5 style="padding-top: 0;
                                         padding-bottom: 0;
                                         font-weight: 500;
                                         vertical-align: baseline;
                                         font-size: 20px;
                                         line-height: 24px;
                                         margin: 0;"
                                  align="left">
                                {{ repo.totaldestinationsizechange|filesize if repo.totaldestinationsizechange is not none else '-' }}
                              </h5>
                            </td>
                            <td class="col-4"
                                style="line-height: 24px;
                                       font-size: 16px;
                                       min-height: 1px;
                                       font-weight: normal;
                                       padding-right: 24px;
                                       width: 33.333333%;
                                       margin: 0;"
                                align="left"
                                valign="top">
                              {% trans %}Avg. Time{% endtrans %}
                              <h5 style="padding-top: 0;
                                         padding-bottom: 0;
                                         font-weight: 500;
                                         vertical-align: baseline;
                                         font-size: 20px;
                                         line-height: 24px;
                                         margin: 0;"
                                  align="left">
                                {{ repo.elapsedtime if repo.elapsedtime is not none else '-' }}
                              </h5>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <table class="s-4 w-full"
                           role="presentation"
                           border="0"
                           cellpadding="0"
                           cellspacing="0"
                           style="width: 100%;"
                           width="100%">
                      <tbody>
                        <tr>
                          <td style="line-height: 16px;
                                     font-size: 16px;
                                     width: 100%;
                                     height: 16px;
                                     margin: 0;"
                              align="left"
                              width="100%"
                              height="16">
                            &#160;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="row" style="margin-right: -24px;">
                      <table class=""
                             role="presentation"
                             border="0"
                             cellpadding="0"
                             cellspacing="0"
                             style="table-layout: fixed;
                                    width: 100%;"
                             width="100%">
                        <tbody>
                          <tr>
                            <td class="col-4"
                                style="line-height: 24px;
                                       font-size: 16px;
                                       min-height: 1px;
                                       font-weight: normal;
                                       padding-right: 24px;
                                       width: 33.333333%;
                                       margin: 0;"
                                align="left"
                                valign="top">
                              {% trans %}New files{% endtrans %}
                              <h5 style="padding-top: 0;
                                         padding-bottom: 0;
                                         font-weight: 500;
                                         vertical-align: baseline;
                                         font-size: 20px;
                                         line-height: 24px;
                                         margin: 0;"
                                  align="left">
                                {{ repo.newfiles if repo.newfiles is not none else '-' }}
                              </h5>
                            </td>
                            <td class="col-4"
                                style="line-height: 24px;
                                       font-size: 16px;
                                       min-height: 1px;
                                       font-weight: normal;
                                       padding-right: 24px;
                                       width: 33.333333%;
                                       margin: 0;"
                                align="left"
                                valign="top">
                              {% trans %}Deleted files{% endtrans %}
                              <h5 style="padding-top: 0;
                                         padding-bottom: 0;
                                         font-weight: 500;
                                         vertical-align: baseline;
                                         font-size: 20px;
                                         line-height: 24px;
                                         margin: 0;"
                                  align="left">
                                {{ repo.deletedfiles if repo.deletedfiles is not none else '-' }}
                              </h5>
                            </td>
                            <td class="col-4"
                                style="line-height: 24px;
                                       font-size: 16px;
                                       min-height: 1px;
                                       font-weight: normal;
                                       padding-right: 24px;
                                       width: 33.333333%;
                                       margin: 0;"
                                align="left"
                                valign="top">
                              {% trans %}Changed files{% endtrans %}
                              <h5 style="padding-top: 0;
                                         padding-bottom: 0;
                                         font-weight: 500;
                                         vertical-align: baseline;
                                         font-size: 20px;
                                         line-height: 24px;
                                         margin: 0;"
                                  align="left">
                                {{ repo.changedfiles if repo.changedfiles is not none else '-' }}
                              </h5>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <table class="s-4 w-full"
                           role="presentation"
                           border="0"
                           cellpadding="0"
                           cellspacing="0"
                           style="width: 100%;"
                           width="100%">
                      <tbody>
                        <tr>
                          <td style="line-height: 16px;
                                     font-size: 16px;
                                     width: 100%;
                                     height: 16px;
                                     margin: 0;"
                              align="left"
                              width="100%"
                              height="16">
                            &#160;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="row" style="margin-right: -24px;">
                      <table class=""
                             role="presentation"
                             border="0"
                             cellpadding="0"
                             cellspacing="0"
                             style="table-layout: fixed;
                                    width: 100%;"
                             width="100%">
                        <tbody>
                          <tr>
                            <td class="col-4"
                                style="line-height: 24px;
                                       font-size: 16px;
                                       min-height: 1px;
                                       font-weight: normal;
                                       padding-right: 24px;
                                       width: 33.333333%;
                                       margin: 0;"
                                align="left"
                                valign="top">
                              {% trans %}New file size{% endtrans %}
                              <h5 style="padding-top: 0;
                                         padding-bottom: 0;
                                         font-weight: 500;
                                         vertical-align: baseline;
                                         font-size: 20px;
                                         line-height: 24px;
                                         margin: 0;"
                                  align="left">
                                {{ repo.newfilesize|filesize if repo.newfilesize is not none else '-' }}
                              </h5>
                            </td>
                            <td class="col-4"
                                style="line-height: 24px;
                                       font-size: 16px;
                                       min-height: 1px;
                                       font-weight: normal;
                                       padding-right: 24px;
                                       width: 33.333333%;
                                       margin: 0;"
                                align="left"
                                valign="top">
                              {% trans %}Deleted file size{% endtrans %}
                              <h5 style="padding-top: 0;
                                         padding-bottom: 0;
                                         font-weight: 500;
                                         vertical-align: baseline;
                                         font-size: 20px;
                                         line-height: 24px;
                                         margin: 0;"
                                  align="left">
                                {{ repo.deletedfilesize|filesize if repo.deletedfilesize is not none else '-' }}
                              </h5>
                            </td>
                            <td class="col-4"
                                style="line-height: 24px;
                                       font-size: 16px;
                                       min-height: 1px;
                                       font-weight: normal;
                                       padding-right: 24px;
                                       width: 33.333333%;
                                       margin: 0;"
                                align="left"
                                valign="top">
                              {% trans %}Changed file size{% endtrans %}
                              <h5 style="padding-top: 0;
                                         padding-bottom: 0;
                                         font-weight: 500;
                                         vertical-align: baseline;
                                         font-size: 20px;
                                         line-height: 24px;
                                         margin: 0;"
                                  align="left">
                                {{ repo.changedsourcesize|filesize if repo.changedsourcesize is not none else '-' }}
                              </h5>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- mb-4 -->
    <table class="s-4 w-full"
           role="presentation"
           border="0"
           cellpadding="0"
           cellspacing="0"
           style="width: 100%;"
           width="100%">
      <tbody>
        <tr>
          <td style="line-height: 16px;
                     font-size: 16px;
                     width: 100%;
                     height: 16px;
                     margin: 0;"
              align="left"
              width="100%"
              height="16">
            &#160;
          </td>
        </tr>
      </tbody>
    </table>
  {% endfor %}
{% endblock body %}
