{% extends 'email_layout.html' %}
{% block title %}
  {% trans %}Notification{% endtrans %}
{% endblock title %}
{% block body %}
  <h1>
    <a>{% trans username=(user.fullname or user.username) %}Hey {{ username }},{% endtrans %}</a>
  </h1>
  <p>{% trans %}You are receiving this email to notify you about your backups.{% endtrans %}</p>
  {# Quota Usage #}
  {{ storage_usage(disk_usage, disk_quota) }}
  {# Inactive repo #}
  {% if repos %}
    <p>
      {% trans %}The following repositories are inactive for some time. We invite you to have a look at your last backup schedule.{% endtrans %}
    </p>
    <ul>
      {% for r in repos %}
        <li>
          <a>{{ r.display_name }}</a>
          <br/>
          <small>
            {% if r.last_backup_date %}
              {% trans %}Last backup {% endtrans %}
              <time datetime="{{ r.last_backup_date }}">{{ r.last_backup_date | lastupdated }}</time>
            {% else %}
              {% trans %}Initial backup not completed.{% endtrans %}
            {% endif %}
          </small>
        </li>
      {% endfor %}
    </ul>
    <p>{% trans %}If you don't want to be notify about this. You need to review your user preferences.{% endtrans %}</p>
  {% endif %}
{% endblock body %}
