{% extends 'layout.html' %}
{% from 'include/timerange.html' import timerange %}
{% block title %}
  {% trans %}Graphs{% endtrans %}
{% endblock title %}
{% block content %}
  <!-- failure -->
  {% if repo.status[0] != 'ok' %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      {{ repo.status[1] }}
      {% trans %}The displayed data may be inconsistent.{% endtrans %}
      <button type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"></button>
    </div>
  {% endif %}
  <div class="graph-area">
    <div class="float-end">{{ timerange(ranges=[1, 7, 14, 30, 60, 90], limit=limit) }}</div>
    {% block graph_body %}
    {% endblock graph_body %}
  </div>
{% endblock content %}
