<div id="page-content">
<h2>^title$</h2>
<table class="datatable">
<thead>
   <tr>
      <td>Date</td>
      <td>Size</td>
      <td title="For each backup entry, the cumulative size is the size of the current backup, plus the amount of data that is required to restore to that point in time.">Cumulative Size</td>
      <td>Result</td>
   </tr>
</thead>
<tbody>
   <!--StartRepeat:history-->
   <tr>
      <td class="icon history">^date$</td>
      <td>^size$</td>
      <td>^cumulativeSize$</td>
      <!--StartDeleteIf:errors-->
      <td class="BackupResult">
          <!--StartIncludeIf:inProgress-->In Progress<!--EndIncludeIf:inProgress-->
          <!--StartDeleteIf:inProgress-->Success<!--EndDeleteIf:inProgress-->
      </td>
      <!--EndDeleteIf:errors-->
      <!--StartIncludeIf:errors-->
      <td class="history-error">
         <a href="javascript:void 0">More...</a>
      </td>
   </tr>
   <tr class="multiline-error">
      <td colspan="4"><p class="mono">^multiline:errors$</p></td>
      <!--EndIncludeIf:errors-->
   </tr>
   <!--EndRepeat:history-->
</tbody>
</table>
</div>