{% include 'page_start.html' %}
{% include 'nav_bar.html' %}
<div class="container">
    <h2>{{ title }}</h2>
    {% include 'message.html' %}
    <table class="table">
        <thead>
            <tr>
                <th id="date">Date</th>
                <th id="size">Size</th>
                <th id="result">Result</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in history_entries | reverse %}
            <tr {% if entry.errors %}
                class="danger"
                {% elif entry.in_progress %}
                class="warning"
                {% endif %}>
                <td class="icon-history" data-value="{{ entry.date }}">
                    {{ entry.date | datetime }}
                </td>
                <td data-value="{{ entry.size }}">
                    {{ entry.size | filesize }}
                </td>
                <td>
                    {% if not entry.errors %}
                    {% if entry.in_progress %}
                    In Progress
                    {% else %}
                    Success
                    {% endif %}
                    {% else %}
                    Error
                    {% endif %}
                </td>
            </tr>
            {% if entry.errors %}
            <tr class="danger">
                <td colspan="4">
                    <p>{{ entry.errors }}</p>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

</div>
{% include 'page_end.html' %}
