<div id="page-content">
<h2>^title$</h2>
<table class="datatable sortable">
<thead>
   <tr>
      <th class="sortable">Date</th>
      <th class="sortable">Size</th>
      <th class="sortable" title="For each backup entry, the cumulative size is the size of the current backup, plus the amount of data that is required to restore to that point in time.">Cumulative Size</th>
      <th class="sortable">Result</th>
   </tr>
</thead>
<tbody>
   <!--StartRepeat:history-->
   <tr>
      <td class="icon history" data-value="^dateinseconds$">^date$</td>
      <td data-value="^sizeinbytes$">^size$</td>
      <td data-value="^cumulativesizeinbytes$">^cumulativesize$</td>
      <!--StartDeleteIf:errors-->
      <td class="BackupResult">
          <!--StartIncludeIf:inProgress-->In Progress<!--EndIncludeIf:inProgress-->
          <!--StartDeleteIf:inProgress-->Success<!--EndDeleteIf:inProgress-->
      </td>
      <!--EndDeleteIf:errors-->
      <!--StartIncludeIf:errors-->
      <td class="history-error">
         <a href="javascript:void 0">More...</a>
      </td>
   </tr>
   <tr class="multiline-error">
      <td colspan="4"><p class="mono">^multiline:errors$</p></td>
      <!--EndIncludeIf:errors-->
   </tr>
   <!--EndRepeat:history-->
</tbody>
</table>
</div>