{% extends 'layout_repo.html' %}
{% set active_page='repo' %}
{% set active_repo_page='history' %}
{% block title %}{% trans %}Restore Repository{% endtrans %}{% endblock%} 
{% block content %}

<div class="panel panel-default spacer">
    <ul class="list-group">
        {% for entry in history_entries %}
        <li class="list-group-item clearfix">
            <i class="icon-archive"></i> {{ entry.date | datetime }}

            <!-- Size -->
            <span>({{ entry.size | filesize }})</span>

            <!-- Status Label -->
            {% if entry.has_errors %}
            <span class="label label-danger">{% trans %}Error(s){% endtrans %}</span>
            <a data-toggle="collapse" href="#errors{{loop.index}}" aria-expanded="false" aria-controls="#errors{{loop.index}}">Show error(s)</a>
            {% endif %}

            <div class="pull-right">

                <div class="btn-group">
                    <a type="button" class="btn btn-default btn-xs" rel="nofollow" href="{{ url_for('restore', repo, date=entry.date) }}">
                        <i class="icon-download"></i> <span>{% trans %}Download{% endtrans %}</span>
                    </a>
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span> <span class="sr-only">{% trans %}Toggle Dropdown{% endtrans %}</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right-xs" role="menu" aria-labelledby="menu1">
                        <li>
                            <a rel="nofollow" href="{{ url_for('restore', repo, date=entry.date) }}">
                                <i class="icon-download"></i> <span>{% trans %}Download{% endtrans %} ZIP</span>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="{{ url_for('restore', repo, date=entry.date, kind='tar.gz') }}">
                                <i class="icon-download"></i> <span>{% trans %}Download{% endtrans %} TAR.GZ</span>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="{{ url_for('restore', repo, date=entry.date, kind='tar.bz2') }}">
                                <i class="icon-download"></i> <span>{% trans %}Download{% endtrans %} TAR.BZ2</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            {% if entry.has_errors %}
            <div id="errors{{loop.index}}" class="collapse">
                <div class="clearfix"></div>
                <div class="spacer"></div>
                <div class="well">{{ entry.errors }}</div>
            </div>
            {% endif %}

        </li>
        {% endfor %}
    </ul>
</div>

{% if limit == history_entries|count %}
<nav aria-label="...">
    <ul class="pager">
        <li>
            <a href="?limit={{ limit * 2 }}">
                <i class="icon-down-dir"></i> {% trans %}Show more...{% endtrans %}
            </a>
        </li>
    </ul>
</nav>
{% endif %} {% endblock %}
