{% extends 'layout_repo.html' %}
{% from 'include/modal_dialog.html' import modal_dialog, button_confirm, modal_confirm %}
{% set active_page='repo' %}
{% set active_repo_page='history' %}
{% block title %}{% trans %}History{% endtrans %}{% endblock%} 
{% block content %}

<div class="row">
  <div class="col-md-10">
    <ol class="breadcrumb">
        {% for parent in list_parents(repo, path) %}
        {% if loop.last %}
        <li class="active">{{ parent.display_name }}</li>
        {% else %}
        <li><a href="{{ url_for('browse', repo, parent) }}">{{ parent.display_name }}</a></li>
        {% endif %}
        {% endfor %}
    </ol>
  </div>
  <div class="col-md-2">
    <div class="pull-right">
       {{ button_confirm(label=_('Delete History'), target="#delete-repo-modal", confirm=path_obj.display_name, disabled=not is_maintainer, redirect=url_for('browse', repo), url=url_for('delete', repo, path)) }}
    </div>
  </div>
</div>
  
<div class="panel panel-default spacer">
    <ul class="list-group">
        {% set restore_dates = path_obj.change_dates[: -limit - 1 : -1] %}
        {% for restore_date in restore_dates %}
        <li class="list-group-item clearfix">
            <i {% if path_obj.isdir %}class="icon-archive"{% else %}class="icon-file"{% endif %}></i>
            <time class="js-datetime" datetime="{{ restore_date }}">{{ restore_date | lastupdated }}</time>
            {% if path_obj.isdir %}
            <div class="pull-right">

                <div class="btn-group">
                    <a type="button" class="btn btn-default btn-xs" rel="nofollow" href="{{ url_for('restore', repo, path, date=restore_date) }}">
                        <i class="icon-download"></i> <span>{% trans %}Download{% endtrans %}</span>
                    </a>
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span> <span class="sr-only">{% trans %}Toggle Dropdown{% endtrans %}</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right-xs" role="menu" aria-labelledby="menu1">
                        <li>
                            <a rel="nofollow" href="{{ url_for('restore', repo, path, date=restore_date) }}">
                                <i class="icon-download"></i> <span>{% trans %}Download{% endtrans %} ZIP</span>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="{{ url_for('restore', repo, path, date=restore_date, kind='tar.gz') }}">
                                <i class="icon-download"></i> <span>{% trans %}Download{% endtrans %} TAR.GZ</span>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" href="{{ url_for('restore', repo, path, date=restore_date, kind='tar.bz2') }}">
                                <i class="icon-download"></i> <span>{% trans %}Download{% endtrans %} TAR.BZ2</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% else %}
            <div class="pull-right">
                <a type="button" class="btn btn-default btn-xs" rel="nofollow" href="{{ url_for('restore', repo, path, date=restore_date) }}">
                  <i class="icon-download"></i>
                  <span>{% trans %}Download{% endtrans %}</span>
                </a>
            </div>
            {% endif %}


            
            <div id="errors{{loop.index}}" class="collapse">
                <div class="clearfix"></div>
                <div class="spacer"></div>
                <div class="well">FIXME entry.errors</div>
            </div>
            

        </li>
        {% endfor %}
    </ul>
</div>

{% if limit == restore_dates|count %}
<nav aria-label="...">
    <ul class="pager">
        <li>
            <a href="?limit={{ limit * 2 }}">
                <i class="icon-down-dir"></i> {% trans %}Show more...{% endtrans %}
            </a>
        </li>
    </ul>
</nav>
{% endif %}

<!-- Delete Repo Modal -->
{{ modal_confirm(
    id='delete-repo-modal',
    title=_('Confirmation required'),
    message=_("You are about to permanently delete this file or folder history. Deleted history CANNOT be restored! Are you ABSOLUTELY sure?"),
    submit=_('Delete'),
    confirm_field='confirm') }}

{% endblock %}
