{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid repohead">
    <div class="container">
    
    <!-- Title -->
    <h2>{{ repo_name }}</h2>
    
    <!-- Repo Nav -->
	{% set repo_nav_bar = [
	    ('browse', _('Files'), url_for_browse(repo_path, path), 'icon-docs'),
	    ('restore', _('Restore folder'), url_for_browse(repo_path, path, restore=True), 'icon-file-archive'),
	    ('history', _('History'), url_for_history(repo_path), 'icon-history'),
	    ('settings', _('Settings'), url_for_settings(repo_path), 'icon-cog-alt'),
	] -%}
	{% if repo_nav_bar_extras %}
    {{ repo_nav_bar.extend(repo_nav_bar_extras) or "" }}
    {% endif %}
    <ul class="nav nav-tabs" role="navigation">
    {% for item in repo_nav_bar %}
    <li {{ attrib(class=active_repo_page==item[0] and "active") }} >
        <a href="{{ item[2] }}"><i class="{{ item[3] }}"></i> {{ item[1] }}</a>
    </li>
    {% endfor %}
    </ul>
    
    </div>
</div>

<div class="container" id="{{ active_repo_page }}">

{% include 'message.html' %}

{% block content %}
{% endblock %}
    
</div>
{% endblock %}