<!DOCTYPE html>
<html lang="{{ lang[0:2] }}">
  <head>
    {% set active_page = page_registry.get(active_page | d(self._TemplateReference__context.name)) %}
    {% block head %}
      <title>
        {# Most important segment first — shown in browser tabs. #}
        {% block title %}
          {% if repo %}
            {% if path %}{{ repo._decode(path) }} •{% endif %}
            {{ repo.display_name }} •
          {% endif %}
          {% if active_page %}{{ active_page.label }}{% endif %}
        {% endblock title %}
        • {{ header_name }}
      </title>
      <meta charset="utf-8" />
      <meta content="noindex" name="robots" />
      <meta content="IE=edge" http-equiv="X-UA-Compatible" />
      <meta content="width=device-width, initial-scale=1" name="viewport" />
      <link href="{{ url_for('favicon.ico', v=cache_invalidate) }}"
            rel="shortcut icon" />
      {{ catalog.render_assets() }}
      <!-- Custom -->
      <link href="{{ url_for('/static/main.css', v=cache_invalidate) }}"
            rel="stylesheet"
            type="text/css" />
      <script src="{{ url_for('/static/main.js', v=cache_invalidate) }}"></script>
    {% endblock head %}
    {% block script %}
    {% endblock script %}
  </head>
  <body>
    {% block body %}
      {% if currentuser %}
        {% include "sidebar.html" with context %}
      {% endif %}
      <main>
        {# Let define default breadcrumb for repo path. #}
        <Breadcrumb currentuser={{ currentuser }} breadcrumbs={{ breadcrumbs | d(None) }} class="border-bottom p-3 bg-white sticky-top" />
        <div id="top"></div>
        {% if self._TemplateReference__context.name != 'error_page.html' %}
          <RepoWarning repo={{ repo | d(None) }} />
        {% endif %}
        <div class="container-fluid p-3">
          {% block content %}{% endblock %}
        </div>
        <div id="bottom"></div>
      </main>
    {% endblock body %}
  </body>
</html>
