{% include 'page_start.html' %}
{% include 'nav_bar.html' %}
<div class="container">
    <h2>Backup Locations</h2>
    <table id="repos" class="sortable table">
        <thead>
            <tr>
                <th id="name" class="sortable">Name</th>
                <th id="lastbackup" class="sortable">Last Backup</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for repo in repos %}
            <tr {% if repo.failed %}
                class="danger"
                {% elif repo.in_progress%}
                class="warning"
                {% endif %}>
                <td class="icon repo" data-value="{{ repo.name }}">
                    {% if repo.failed %}
                    <i class="icon-box"></i>{{ repo.name }}
                    {% else %}
                    <a href="{{ url_for_browse(repo.name,'') }}">
                        <i class="icon-box"></i>
                        {{ repo.name }}
                    </a>
                    {% endif %}
                </td>
                <td class="nowrap" data-value="{{ repo.last_backup_date }}">
                    {% if repo.failed %} Error
                    {% elif repo.in_progress %} In progress
                    {% else %}{{ repo.last_backup_date | datetime }}
                    {% endif %}</td>
                <td class="navitem">
                    <a href="{{ url_for('history', repo=repo.name) }}">History</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'page_end.html' %}
