
   <div id="login-container">
   	  <h1>rdiffWeb</h1>
      <!--StartDeleteIf:message-->
      <p>Enter your username and password to log in.</p>
      <!--EndDeleteIf:message-->
      <!--StartIncludeIf:message-->
      <p class="warning">^message$</p> 
	  <!--EndIncludeIf:message-->
      <div id="login">
      <form method="post" action="^action$">
         <input type="hidden" name="^redirectKey$" value="^redirectValue$"/>
               <div class="username">
                   <label for="^loginKey$">Username</label>
                   <input type="text" name="^loginKey$" value="^loginValue$" id="username" /><br />
               </div>
               <div class="password">
                   <label for="^passwordKey$">Password</label>
                   <input type="password" name="^passwordKey$" id="password" />
               </div>
               <input class="submit" type="submit" value="Login"/>
         </table>
         </form>
      </div>
      <div class="copyright">
      	<a href="http://www.rdiffweb.org/">rdiffweb</a> version 0.6.4
      </div>
   </div>
   <div style="clear: both;"></div>
<script type="text/javascript">
document.getElementById("username").focus();
</script>
</body></html>

