{% extends 'layout.html' %}
{% block title %}
  {% trans %}Login{% endtrans %}
{% endblock %}
{% block body %}
  <section class="container-fluid g-0 vh-100">
    <div class="row g-0 vh-100">
      <div class="col-md-6 bg-light d-flex flex-column">
        {# Header #}
        <div class="px-5 mt-4 mb-4 d-flex justify-content-between align-items-center">
          <img alt="{{ header_name }}"
               height="56"
               src="{{ url_for('/header_logo', v=cache_invalidate) }}" />
        </div>
        {# Centered login form #}
        <div class="flex-grow-1 d-flex align-items-center px-5">
          <div class="col-xs-12 col-lg-8 offset-lg-2">
            <h2>{% trans %}Connection{% endtrans %}</h2>
            <div class="form-login">
              <cf:Flash messages={{ get_flashed_messages() }} class="mb-2" />
              <form role="form" method="post" action="{{ url_for() }}">
                <cf:Fields form={{ form }} floating={{ True }} />
                <button type="submit" class="btn btn-primary btn-lg w-100">{% trans %}Sign in{% endtrans %}</button>
              </form>
              {% if oauth_enabled %}
                <div class="rdw-divider d-flex align-items-center my-4">
                  <p class="text-center fw-bold mx-3 mb-0 text-muted">{% trans %}OR{% endtrans %}</p>
                </div>
                <a href="{{ url_for("/oauth/login") }}"
                   class="btn btn-outline-primary btn-lg w-100"
                   role="button">{% trans %}Sign in with {{ oauth_provider_name }}{% endtrans %}</a>
              {% endif %}
            </div>
          </div>
        </div>
        <RdwFooter class="small text-center mt-auto" />
      </div>
      {# Image on the left. #}
      <div class="col-md-6 d-none rdw-login-bg d-md-flex align-items-center">
        <div class="col px-5 text-center text-light"
             style="text-shadow: black 0 0 .5em">
          {% if welcome_msg %}
            {% autoescape false %}
              {{ welcome_msg }}
            {% endautoescape %}
          {% else %}
            <h2>
              {% trans %}A simplified backup management software for quick access to your archives through an
              efficient web interface.{% endtrans %}
            </h2>
            <br />
            <a class="text-light" href="https://rdiffweb.org/">{% trans %}website{% endtrans %}</a>
            •
            <a class="text-light" href="https://groups.google.com/d/forum/rdiffweb">{% trans %}community{% endtrans %}</a>
            •
            <a class="text-light" href="https://rdiffweb.org/doc">{% trans %}docs{% endtrans %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock body %}
