{% set title = "Login"%}
{% include 'page_start.html' %}
<div class='container'>
    <div class='content'>
        <center>
            <h1>rdiffweb</h1>
            <p class='light'>
                Originally developped by Josh Nisly, rdiffweb is a web interface
                <br />for browsing and restoring from rdiff-backup
                repositories.
            </p>
            <a href="http://www.patrikdufresne.com/en/rdiffweb/">rdiffweb</a>
            version 0.6.5
        </center>
    </div>
    <!-- /content -->
</div>
<!-- /container -->
<div class="container login-page">
    <form class="form-signin" role="form" method="post" 
    		action="/login/" id="form-login">
        <input type="hidden" name="redirect"
            value="{{ redirect }}" />
        <h2 class="form-signin-heading">Sign in</h2>
        {% include 'message.html' %}
        <p>Enter your username and password to log in.</p>
        <input type="text" class="form-control" placeholder="Username"
            name="login" value="{{ login }}" id="username"
            required autofocus>
        <input type="password" class="form-control" placeholder="Password"
            name="password" id="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign
            in</button>
    </form>
</div>
<!-- /login-page -->
{% include 'page_end.html' %}
