{% macro hex_to_rgb(hex) %}
{% set hex = hex | replace("#", "") %}
{% set r = hex[0:2] | int(base=16) %}
{% set g = hex[2:4] | int(base=16) %}
{% set b = hex[4:6] | int(base=16) %}
{{ r }},{{ g }},{{ b }}
{% endmacro %}

:root {
    --link-color: {{link_color}};
    --btn-fg-color: {{btn_fg_color|d("#fff")}};
    --btn-bg-color: {{btn_bg_color|d(link_color)}};
    --navbar-color: {{navbar_color}};
    --font-family-sans-serif: "{{font_family}}", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --rdw-sidebar-width: 20rem;
    /* Override some bootstrap colors. */
    --bs-link-color: {{ link_color }};
    --bs-link-color-rgb: {{ hex_to_rgb(link_color) }};
    --bs-primary-rgb: {{ hex_to_rgb(link_color) }};
    /* Adjust contrast for sidebar. */
    --bs-light: #eef0f1;
    --bs-light-rgb: 238, 240, 241;
}

/* Adjust navbar colors for branding */
#rdw-navbar {
    background-color: var(--bs-light);
    --btn-bg-color: var(--bs-white);
    --btn-fg-color: var(--bs-body-color);
}
#rdw-navbar .nav-link, #rdw-navbar .dropdown-toggle {
    color: var(--bs-body-color);
}

/* Adjust dropdown color for branding. */
.dropdown-menu {
    --bs-dropdown-link-active-bg: var(--link-color);
}

/* Adjust outline button for branding. */
.btn-outline-primary {
  --bs-btn-color:  var(--link-color);
  --bs-btn-border-color:  var(--link-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg:  var(--link-color);
  --bs-btn-hover-border-color:  var(--link-color);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg:  var(--link-color);
  --bs-btn-active-border-color:  var(--link-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  --bs-btn-disabled-color:  var(--link-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color:  var(--link-color);
  --bs-gradient: none;
}

/* Adjust for fixed header */
body {
    font-family: var(--font-family-sans-serif);
}

/* Make navbar responsive. */
body {
    display: flex;
    flex-direction: column;
}
main {
    position: relative;
    flex: 1;
}

@media (min-width: 992px) {
    body {
        display: flex;
        flex-direction: row;
    }
    #rdw-navbar {
        width: var(--rdw-sidebar-width);
        height: 100vh;
    }

    /* Make the content of this menu scrollable. */
    #rdw-overflow-menu {
        flex-grow: 1;
        height: 1px;
        overflow: auto;

        /* This is used to display overflow. */
        --rdw-bg: var(--bs-gray-200);
        --rdw-bg-rgb0: color-mix(in srgb, var(--rdw-bg) 0%, transparent);
        background:
            linear-gradient(var(--rdw-bg) 30%, var(--rdw-bg-rgb0)) top center,
            linear-gradient(var(--rdw-bg-rgb0), var(--rdw-bg) 70%) bottom center,
            radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) top center,
            radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) bottom center;
        background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
        background-repeat: no-repeat;
        background-attachment: local, local, scroll, scroll;
    }

    main {
        margin-top: 0;
        /*margin-left: var(--rdw-sidebar-width);*/
        min-height: 100vh !important;
    }
}

#rdw-header-logo {
    max-width: 216px;
    max-height: 64px;
}

/* Replace breadcrumb divider by chevron-right */
.breadcrumb-item::before {
    --bs-breadcrumb-divider: "\F285";  /* bi-chevron-right */
    font: normal normal normal 14px/1 bootstrap-icons;
    font-size: inherit;
    text-rendering: auto;
    float: none !important;
}

/* Adjust navbar color */
.navbar.bg-dark {
    background-color: var(--navbar-color) !important;
}

/* Adjust primary color */
.btn-link, .nav-link {
    color: var(--link-color);
}

.btn-link:hover, .nav-link:hover {
    filter: brightness(.85);
    color: var(--link-color);
}

/* Add mouse hover effect on navpills */
.nav-link:not(.active):hover {
    background-color: var(--bs-gray-100);   /* gray-200 */
    transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-primary {
    color: var(--btn-fg-color);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-bg-color);
}

.btn-primary:hover {
    filter: brightness(.85);
    color: var(--btn-fg-color);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-bg-color);
}

.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    filter: brightness(.65);
    color: var(--btn-fg-color);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-bg-color);
}

.list-group-item.active {
    color: var(--btn-fg-color);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-bg-color);
}

.nav-pills .nav-link.active {
    color: var(--btn-fg-color);
    background-color: var(--btn-bg-color);
    border-color: var(--btn-bg-color);
}

.page-link {
    color: var(--btn-bg-color);
}
.page-item.active .page-link {
    background-color: var(--btn-bg-color);
    border-color: var(--btn-bg-color);
}

/* Fix header of activity in edit view */
#activity.card thead {
    background-color: rgba(0, 0, 0, .03);
}

#activity.card thead th {
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.rdw-notes {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Adjust background on login page. */
.rdw-login-bg {
    background-image: url('/login-bg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Diver for Oauth provider on login page. */
.rdw-divider::after, .rdw-divider::before {
  content: "";
  flex: 1;
  height: 1px;
  background: var(--bs-gray);
}

/*
 * Adjust display of forms.
 */
.form-label:not(.form-floating .form-label) {
    font-weight: 500 !important;
    font-size: .875em;
}
.form-field {
    margin-bottom: 1.5rem !important;
}

/* Show info icon for tooltip */
.rdw-tooltip[data-bs-toggle="tooltip"]::after {
  content: "\F431"; /* bi-info-circle */
  display: inline-block;
  font-family: "bootstrap-icons";
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal !important;
  line-height: 1;
  margin-inline-start: 0.25em;
  text-transform: none;
  vertical-align: -.125em;
}

/* Special container with max-width */
.rdw-container {
    width: 100%;
    max-width: 860px;
    margin-right: auto;
    margin-left: auto;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}
