{% if success %}
<div class="alert alert-success" role="alert">
	<strong>{% trans %}Well done!{% endtrans %}</strong> {{ success }}</div>
{% endif %}
{% if message %}
<div class="alert alert-info" role="alert">{{ message }}</div>
{% endif %}
{% if warning %}
<div class="alert alert-warning" role="alert">
	<strong>{% trans %}Warning!{% endtrans %}</strong> {{ warning }}</div>
{% endif %}
{% if error %}
<div class="alert alert-danger" role="alert">
	<strong>{% trans %}Error!{% endtrans %}</strong> {{ error }}</div>
{% endif %}