<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!-- authenticated -->
            {% if username %}
            <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            {% endif %}
            <!-- /authenticated -->
            <!-- Header_logo -->
            <a class="navbar-brand" href="/">
            {% if header_logo %}
            <img src="{{ header_logo }}" style="display: inline">
            {% else %}
            <i class="icon-rdiffweb"></i>
            {% endif %}
            <!-- /Header_logo -->
            <!-- Header_name -->
            {% if header_name %}{{ header_name }}{% else %}rdiffweb{% endif %}
            <!-- /Header_name -->
            </a>
        </div>
        <!-- authenticated -->
        {% if username %}
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/" id="home">{% trans %}Repositories{% endtrans %}</a></li>
                <li><a href="/status/">{% trans %}Status{% endtrans %}</a></li>
                <li><a href="/prefs/">{% trans %}Preferences{% endtrans %}</a></li>
                <!-- is_admin -->
                {% if is_admin %}
                <li><a href="/admin/">{% trans %}Admin area{% endtrans %}</a></li> {% endif %}
                <!-- /is_admin -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout/">{% trans %}Logout{% endtrans %}</a></li>
            </ul>
            <p class="navbar-text navbar-right hidden-xs hidden-sm">
                {% trans %}Signed in as {{ username }}{% endtrans %}
            </p>
        </div>
        {% endif %}
        <!-- /authenticated -->
        <!--/.nav-collapse -->
    </div>
</div>