<!DOCTYPE html>
<html>
<head>
   <title>^title$</title>
   <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
   <link rel="icon" type="image/png" href="/static/images/repo.png" />
   <link rel="stylesheet" href="/static/main.css" type="text/css" />
   <meta content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0" name="viewport">
   <!--StartIncludeIf:rssLink--><link rel="alternate" type="application/rss+xml" href="^rssLink$" title="^rssTitle$" /><!--EndIncludeIf:rssLink-->
</head>
<body>
<script src="/static/jquery.js" type="text/javascript"></script>
<script src="/static/jquery.tools.min.js" type="text/javascript"></script>
<script src="/static/jquery.sortelements.js" type="text/javascript"></script>
<script src="/static/script.js" type="text/javascript"></script>