<!DOCTYPE html>
<html>
<head>
<title>
{% if title %}{{ title }} - {% endif %}
{% if header_name %}{{ header_name }}{% else %}rdiffweb{% endif %}
</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if version %}<meta name="app-version" content="{{ version }}">{% endif %}
<meta name="application-name" content="{{ header_name }}"/>
<link rel="mask-icon" sizes="any" href="/static/favicon.svg" color="#ffffff">
<link rel="stylesheet" href="/static/css/main.min.css" type="text/css">
<link rel="shortcut icon"
  {% if favicon %}
    {% if favicon.endswith(".png") %}type="image/png"{% endif %}
    {% if favicon.endswith(".gif") %}type="image/gif"{% endif %}
      href="{{ favicon }}"
  {% else %}
      href="/favicon.ico"
  {% endif %}>
{% if rssLink %}
<link rel="alternate" type="application/rss+xml" href="{{ rssLink }}"
    title="{{ rssTitle }}" />
{% endif %}
</head>
<body>
