<!DOCTYPE html>
<html>
<head>
<title>{% if title %}{{ title }} - {% endif %}rdiffweb</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/main.min.css" type="text/css">
<link rel="icon" type="image/png" href="/static/favicon.png">
{% if rssLink %}
<link rel="alternate" type="application/rss+xml" href="{{ rssLink }}"
    title="{{ rssTitle }}" />
{% endif %}
</head>
<body>