{% extends 'layout.html' %}
{% set active_page='settings' %}
{% block title %}{% trans %}User settings{% endtrans %}{% endblock %}
{% block body %}
<div class="container">
    <h2>{{ title }}</h2>
    
	<!-- Navigation bar for preference page -->
	<ul class="nav nav-tabs" role="tablist">
	    {% for panelid, panellabel in panels %}
	        <li {% if active_panelid==panelid %}class="active"{% endif %}>
	            <a href="/prefs/{{ panelid }}/">{{ panellabel }}</a>
	        </li>	    
	    {% endfor %}
	</ul>
    
    {% if not panels %}
        <div class="alert alert-info" role="alert">
        {% trans %}You do not have access to the user preferences. Verify with your administrator if you want to access it.{% endtrans %}
        {% if is_admin %}
        <br/><br/>
        {% trans %}Check rdiffweb configuration. Enable one or more `UserPrefs` plugins.{% endtrans %}
        {% endif %}
        </div>
    {% else %}
	    <!-- panel content -->
	    {% include template_content with context %}
    {% endif %}

</div>
{% endblock %}