{% extends 'prefs.html' %}
{% from 'include/panel.html' import panel %}
{% from 'include/widget.html' import maxage_dropdown %}
{% set active_panelid='notification' %}
{% block panel %}
  <h3>{% trans %}Notification settings{% endtrans %}</h3>
  <div class="form-group">
    <label for="email">{% trans %}Notification sent to{% endtrans %}</label>
    <div>
      <input class="form-control"
             type="text"
             id="email"
             readonly="readonly"
             value="{{ email }}"/>
    </div>
  </div>
  {% include 'message.html' %}
  <div class="form-horizontal">
    <p>{% trans %}Send notification for the following repositories:{% endtrans %}</p>
    <form action="#" method="post" role="form">
      {{ form }}
    </form>
  </div>
{% endblock %}
