{% extends 'prefs.html' %}
{% from 'include/panel.html' import panel %}
{% set active_panelid='mfa' %}
{% block panel %}
  <div class="d-flex  justify-content-between">
    <h3>{% trans %}Two-Factor Authentication{% endtrans %}</h3>
  </div>
  <p>
    {% trans %}You can enhance the security of your account by enabling two-factor authentication (2FA).{% endtrans %}
    {% trans %}When enabled, a verification code is sent to your email address each time you log in from a new location to verify that it is you.{% endtrans %}
  </p>
  {% include 'message.html' %}
  <div class="panel-body">
    <form action="#" method="post" role="form" class="clearfix">
      {{ form }}
    </form>
  </div>
{% endblock %}
