{% extends 'layout.html' %}
{% set active_page='settings' %}
{% block title %}
  {% trans %}User settings{% endtrans %}
{% endblock %}
{% block body %}
  <div class="container">
    <!-- Navigation bar for preference page -->
    <ul class="nav nav-tabs mb-4" role="tablist">
      {% for panelid, label in panels %}
        <li class="nav-item">
          <a class="nav-link{% if active_panelid==panelid %} active{% endif %}"
             href="{{ url_for('prefs', panelid) }}">
            {{ label }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <!-- panel content -->
    {% include template_content with context %}
  </div>
{% endblock %}
