{% set title = _("User Preferences") %}
{% include 'page_start.html' %}
<!-- nav_bar -->
{% include 'nav_bar.html' %}
<!-- /nav_bar -->
<div class="container">
    <h2>{{ title }}</h2>

    {% include 'message.html' %}

    <h3>{% trans %}Change password{% endtrans %}</h3>
    <form action="#" method="post" role="form" class="form-horizontal clearfix" >
        <div class="form-group">
            <label for="current" class="col-sm-3 control-label">
            	{% trans %}Current password{% endtrans %}</label>
            <div class="col-sm-7">
	            <input class="form-control" type="password" name="current"
	                id="current" />
            </div>
        </div>
        <div class="form-group">
            <label for="new" class="col-sm-3 control-label">
            	{% trans %}New password{% endtrans %}</label>
            <div class="col-sm-7">
            	<input class="form-control" type="password" name="new" id="new" />
            </div>
        </div>
        <div class="form-group">
            <label for="confirm" class="col-sm-3 control-label">
            	{% trans %}Confirm new password{% endtrans %}</label>
        	<div class="col-sm-7">
            <input class="form-control" type="password" name="confirm"
                id="confirm" />
            </div>
        </div>
        <input type="hidden" name="action" value="set_password" />
        <div class="col-sm-offset-3 col-sm-7">
        	<button type="submit" class="btn btn-default">{% trans %}Change{% endtrans %}</button>
        </div>
    </form>

    <hr />

    <h3>{% trans %}Refresh{% endtrans %}</h3>
    <form action="#" method="post" role="form">
        <input type="hidden" name="action" value="update_repos" />
        <p class="help-block">
        	{% trans %}Refresh the list of repositories associated to your account. If you recently add a new repository and it doesn't show, you may try to refresh the list.{% endtrans %}
    	</p>
        <button type="submit" class="btn btn-default">
        	{% trans %}Refresh{% endtrans %}
        </button>
    </form>

</div>
{% include 'page_end.html' %}
