<div id="page-content">
<h2>Backup Locations</h2>

<table id="repos" class="datatable sortable">
   <thead>
      <tr>
         <th id="name" class="sortable">Name</th>
         <th id="lastbackup" class="sortable">Last Backup</th>
         <th id="size" class="sortable">Last Backup Size</th>
         <th title="Shows backup status history.">History</th>
      </tr>
   </thead>
   <tbody>
      <!--StartRepeat:repos-->
      <tr>
         <td class="icon repo" data-value="^reponame$">
         	<!--StartDeleteIf:failed--><a href="^repoBrowseUrl$"><!--EndDeleteIf:failed-->^reponame$<!--StartDeleteIf:failed--></a><!--EndDeleteIf:failed-->
         </td>
         <td data-value="^repodateinseconds$">^repodate$</td>
         <td data-value="^reposizeinbytes$">^reposize$</td>
         <td><a href="^repoHistoryUrl$">More...</a></td>
      </tr>
      <!--EndRepeat:repos-->
   </tbody>
</table>
</div>