<div id="page-content">
<h2>Backup Locations</h2>

<table class="datatable">
   <thead>
      <tr>
         <td>Name</td>
         <td>Last Backup</td>
         <td>Last Backup Size</td>
         <td>History</td>
      </tr>
   </thead>
   <tbody>
      <!--StartRepeat:repos-->
      <tr StartIncludeIf:altRow-class="altRow"EndIncludeIf:altRow->
         <td class="icon repo">
         	<!--StartDeleteIf:failed--><a href="^repoBrowseUrl$"><!--EndDeleteIf:failed-->^repoName$<!--StartDeleteIf:failed--></a><!--EndDeleteIf:failed-->
         </td>
         <td>^repoDate$</td><td>^repoSize$</td>
         <td><a href="^repoHistoryUrl$">More...</a></td>
      </tr>
      <!--EndRepeat:repos-->
   </tbody>
</table>
</div>