<h1>
<ol class="breadcrumb">
    <li>
        <a href="/">{% trans %}Repositories{% endtrans %}</a>
    </li>
    {% if parents %}
    {% for parent in parents %}
    <li class="active">
        <a href="{{ url_for_browse(repo_path, parent.path) }}">
            {{ parent.name }}
        </a>
    </li>
    {% endfor %}
    {% elif repo_path %}
    <li class="active">
        <a href="{{ url_for_browse(repo_path) }}">
            {{ repo_name }}
        </a>
    </li>    
    {% endif%}
</ol>
</h1>