{% extends 'layout.html' %}
{% from 'include/panel.html' import panel %}
{% from 'include/modal_dialog.html' import modal_dialog, button_confirm, modal_confirm %}
{% set breadcrumbs = breadcrumb_repo(repo) + breadcrumb_repo(repo, self) %}
{% block content %}
  <div class="container">
    <form method="post" action="{{ url_for() }}">
      {# Repo settings #}
      <Fields form={{ form }} />
      <div class="d-flex justify-content-between">
        <div>
          {# Delete repo button #}
          {{ button_confirm(label=_('Delete repository') , target="#delete-repo-modal", class="btn-danger", disabled=not is_maintainer, redirect=url_for('/'), url=url_for('delete', repo)) }}
        </div>
        <div>
          <button type="button"
                  class="btn btn-secondary"
                  onclick="window.history.back();">{% trans %}Cancel{% endtrans %}</button>
          <button type="submit" class="btn btn-primary">{% trans %}Save changes{% endtrans %}</button>
        </div>
      </div>
    </form>
    {# Delete Repo Modal #}
    {{ modal_confirm(id="delete-repo-modal",
        title=_('Confirmation required') ,
    message=_("You are about to permanently delete this repository. Deleted repository CANNOT be restored! Are you ABSOLUTELY sure?"),
    fields=['action'],
    submit=_('Delete'),
    confirm_value=repo.display_name) }}
  </div>
{% endblock %}
