{% extends 'layout_repo.html' %}
{% from 'include/panel.html' import panel %}
{% from 'include/modal_dialog.html' import modal_dialog, button_confirm, modal_confirm %}
{% from 'include/widget.html' import maxage_dropdown, encoding_dropdown %}
{% set active_page='repo' %}
{% set active_repo_page='settings' %}
{% block title %}{% trans %}Settings{% endtrans %}{% endblock %}
{% block content %}

<div class="spacer"></div>

<!-- Panel to set user info. -->
{% call panel(title=_("Character encoding"), class='default') %}
<div class="panel-body">
  <form action="{{ url_for('settings', repo) }}" method="POST" role="form" class="clearfix" data-async data-target="#new-encoding-status">
    <span class="help-block">
        {% trans %}This value may need to be changed if your files are not displayed with the right characters. This is very common for non-english speaker.{% endtrans %}
    </span>
    <div class="form-group">
        <label for="encoding" class="control-label sr-only">{% trans %}Encoding{% endtrans %}</label>
        {{ encoding_dropdown(class="form-control", name="new_encoding", id="new_encoding", value=repo.encoding) }}
    </div>
    <div>
        <button type="submit" class="btn btn-success">{% trans %}Save changes{% endtrans %}</button>
        <span id="new-encoding-status"></span>
    </div>
  </form>
</div>
{% endcall %}

<!-- Delete repo. -->
{% call panel(title=_("Remove older"), class='default') %}
<div class="panel-body">
  <form data-async data-target="#keepdays-status" action="{{ url_for('settings', repo) }}" method="POST" role="form">
  <span class="help-block">
     {% trans %}You can parameterize the storage time of earlier versions for each repository. Changing this value may free up disk space.{% endtrans %}
  </span>
  <div class="form-group">
    <label for="encoding" class="control-label sr-only">{% trans %}Keep history for:{% endtrans %}</label>
    <select class="form-control" name="keepdays" {% if not is_maintainer %}disabled{% endif %}>
      {% set remove_older_values = [
            (-1, _("Forever")),
            (1, _("1 day")),
            (2, _("2 days")),
            (3, _("3 days")),
            (4, _("4 days")),
            (5, _("5 days")),
            (6, _("6 days")),
            (7, _("1 week")),
            (14, _("2 weeks")),
            (21, _("3 weeks")),
            (30, _("1 month")),
            (60, _("2 months")),
            (90, _("3 months")),
            (120, _("4 months")),
            (150, _("5 months")),
            (180, _("6 months")),
            (210, _("7 months")),
            (240, _("8 months")),
            (270, _("9 months")),
            (300, _("10 months")),
            (330, _("11 months")),
            (365, _("1 year")),
            (730, _("2 years")),
            (1095, _("3 years")),
            (1460, _("4 years")),
            (1825, _("5 years")),
      ] %}
      {% for i in remove_older_values %}
      <option {{ attrib(value=i[0], selected=(keepdays == i[0])) }}>{{ i[1] }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
     <button type="submit" class="btn btn-success" {% if not is_maintainer %}disabled{% endif %}>{% trans %}Save changes{% endtrans %}</button>
     <span id="keepdays-status"></span>
  </div>
  {% if not is_maintainer %}
  <span class="help-block">
     {% trans %}Ask your administrator to change this setting.{% endtrans %}
  </span>
  {% endif %}
  </form>
</div>
{% endcall %}

<!-- Delete repo. -->
{% call panel(title=_("Notification"), class='default') %}
<div class="panel-body">
  <form data-async data-target="#maxage-status" action="{{ url_for('settings', repo) }}" method="POST" role="form">
  <span class="help-block">
     {% trans %}An email notification will be sent if backup is inactive for the given period of time.{% endtrans %}
  </span>
  <div class="form-group">
    <label for="maxage" class="control-label sr-only">{% trans %}Notify after{% endtrans %}</label>
    {{ maxage_dropdown(class="form-control", name="maxage", value=repo.maxage)}}
  </div>
  <div>
     <button type="submit" class="btn btn-success">{% trans %}Save changes{% endtrans %}</button>
     <span id="maxage-status"></span>
  </div>
  </form>
</div>
{% endcall %}

<!-- Delete repo. -->
{% call panel(title=_("Delete repository"), class='danger') %}
<div class="panel-body">
  <span class="help-block">
     {% trans %}Removing the repository will permanantly delete all related resources including files, history, status etc.{% endtrans %}<br/>
     <b>{% trans %}Removed repository cannot be restored!{% endtrans %}</b>
  </span>
  <div>
     {{ button_confirm(label=_('Delete'), target="#delete-repo-modal", action="delete", confirm=repo.display_name, disabled=not is_maintainer) }}
  </div>
  {% if not is_maintainer %}
  <span class="help-block">
     {% trans %}Ask your administrator if you want to delete this repository.{% endtrans %}
  </span>
  {% endif %}
</div>
{% endcall %}

<!-- Delete Repo Modal -->
{{ modal_confirm(
    id='delete-repo-modal',
    title=_('Confirmation required'),
    message=_("You are about to permanently delete this repository. Deleted repository CANNOT be restored! Are you ABSOLUTELY sure?"),
    fields=['action'],
    submit=_('Delete'),
    confirm_field='confirm') }}

{% endblock %}