{% set title = "Setup" %}
{% include 'page_start.html' %}
<!-- nav_bar -->
{% include 'nav_bar.html' %}
<!-- /nav_bar -->
<div class="container">
    <h1>Setup rdiffweb</h1>
    {% if not setup_enabled %}
    {% include 'message.html'%}
    {% elif completed %}
    <div class="alert alert-success" role="alert">
        Congratulations, rdiffweb setup is now complete!
        <a href="/" class="alert-link">Click here</a>
        to log into rdiffweb using default administrator account: 
        <ul>
	        <li>username: {{ admin_username }}</li>
	        <li>password: {{ admin_password }}</li>
        </ul>
    </div>
    {% else %}
    <!-- Setup form -->
    {% if error %}
    <!-- Error message -->
    {% include 'message.html'%}
    <!-- /Error message -->
    {% else %}
    <div class="alert alert-info" role="alert">rdiffweb has not been
        configured, so we need to do that before logging in. Configuration will
        only take a few minutes.</div>
    {% endif %}
    <form action="#" method="post" role="form" class="form-horizontal" autocomplete="off">
        <!-- Submit button -->
		<button type="submit" class="btn btn-primary">Continue...</button>
    </form>
    {% endif %}
</div>
{% include 'page_start.html' %}
