{# Sidebar #}
<nav id="rdw-navbar"
     class="navbar navbar-expand-lg p-3 pb-0 flex-column align-items-stretch sticky-top">
  <div class="d-flex align-items-center justify-content-between">
    {# Brand #}
    <a class="navbar-brand" href="{{ url_for("/") }}">
      <img id="rdw-header-logo"
           src="{{ url_for('header_logo', v=cache_invalidate) }}"
           class="d-inline-block align-text-top"
           alt="{{ header_name }}"
           title="{{ header_name }}" />
    </a>
    {# Toggle #}
    <button class="navbar-toggler me-3"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#rdw-sidebar-menu"
            aria-controls="rdw-sidebar-menu"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <RdwIcon value="bi-list" class="fs-2" />
    </button>
  </div>
  <div id="rdw-sidebar-menu"
       class="collapse navbar-collapse flex-column align-items-stretch mt-3">
    {# Home #}
    <ul class="nav navbar-nav flex-column">
      {% set home_page = page_registry.get('home') %}
      <NavItem :label="home_page.label"
               :href="url_for(home_page, currentuser.username)"
               :icon="home_page.icon"
               :active="home_page.id in [active_page.id, self.active_page]" />
    </ul>
    {% set admin_expended = active_page in page_registry.get_admin_nav_pages(in_menu=None) %}
    {% set user_expended = active_page in page_registry.get_prefs_nav_pages(in_menu=None) %}
    {% set active_repo = repo | d(False) %}
    {% set active_user = userobj | d(currentuser) %}
    {% if admin_expended %}
      {# Administration - expanded #}
      <div class="navbar-text mt-2">
        <strong>{% trans %}Administration{% endtrans %}</strong>
      </div>
      <ul id="rdw-overflow-menu" class="nav navbar-nav flex-column flex-nowrap">
        {% for page in page_registry.get_admin_nav_pages() %}
          <NavItem :label="page.label"
                   :icon="page.icon"
                   :href="url_for(page)"
                   :active="page.id == active_page.id or page.id == active_page.active_page" />
        {% endfor %}
      </ul>
    {% elif user_expended %}
      {# User profile - expand #}
      <div class="navbar-text mt-2">
        <strong>{% trans %}User profile{% endtrans %}</strong>
      </div>
      <ul id="rdw-overflow-menu" class="nav navbar-nav flex-column flex-nowrap">
        {% for page in page_registry.get_prefs_nav_pages() %}
          <NavItem :label="page.label"
                   :href="url_for(page)"
                   :active="page.id == active_page.id or page.id == active_page.active_page" />
        {% endfor %}
      </ul>
    {% elif active_repo %}
      {# Show dropdown list of repositories. #}
      <div class="navbar-text mt-2 fw-bold">
        {% if currentuser == active_repo.user %}
          {% trans %}My Repositories{% endtrans %}
        {% else %}
          {{ _("%(fullname)s's Repositories", fullname=(active_repo.user.fullname or active_repo.user.username) ) }}
        {% endif %}
      </div>
      {# When repo selected, display a dropdown with selected repo. #}
      <ul class="nav navbar-nav flex-column">
        <li class="nav-item dropdown w-100">
          <NavItemRepo class="nav-link" repo={{ repo }} active={{ active_repo==repo }} data-bs-toggle="dropdown" href="#">
            <RdwIcon value="bi-chevron-down" class="fs-4" />
          </NavItemRepo>
          <ul class="dropdown-menu w-100">
            {% for repo in active_repo.user.repo_objs | sort(attribute='name') %}
              <li class="w-100">
                <NavItemRepo class="dropdown-item" repo={{ repo }} active={{ active_repo==repo }} />
              </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <ul id="rdw-overflow-menu"
          class="nav navbar-nav flex-column mt-2 flex-nowrap">
        {% set insights_pages = page_registry.get_insight_nav_pages() %}
        {% for page in page_registry.get_repo_nav_pages() %}
          <NavItem :label="page.label"
                   :href="url_for(page, repo)"
                   :icon="page.icon"
                   :active="page.id == active_page.id or page.id == active_page.active_page" />
          {# Show graphs sub-menu #}
          {% if page.id == 'insights' and active_page in insights_pages %}
            <ul class="nav navbar-nav flex-column mt-2 ms-5">
              {% for page in insights_pages %}
                <NavItem :label="page.label"
                         :href="url_for(page, repo)"
                         :active="page.id == active_page.id or page.id == active_page.active_page" />
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </ul>
    {% elif active_user and active_user.repo_objs %}
      {# Display expended repository list. #}
      <div class="navbar-text mt-2 fw-bold">
        {% if currentuser == active_user %}
          {% trans %}My Repositories{% endtrans %}
        {% else %}
          {{ _("%(fullname)s's Repositories", fullname=active_user.fullname or active_user.username) }}
        {% endif %}
      </div>
      <ul id="rdw-overflow-menu" class="nav navbar-nav flex-column flex-nowrap">
        {% for repo in currentuser.repo_objs | sort(attribute='name') %}
          <li class="w-100 nav-item">
            <NavItemRepo class="nav-link" repo={{ repo }} />
          </li>
        {% endfor %}
      </ul>
    {% else %}
      {# Placeholder #}
      <div class="d-flex flex-grow-1"></div>
    {% endif %}
    {# Administration #}
    <ul class="navbar-nav flex-column">
      {% if currentuser and currentuser.is_admin %}
        {% if not admin_expended %}
          {# Administration - collapsed #}
          <li class="nav-item dropdown dropup pt-2">
            <a href="#"
               class="nav-link p-2 d-flex align-items-center text-decoration-none dropdown-toggle"
               id="rdw-dropdown-admin"
               data-bs-toggle="dropdown"
               aria-expanded="false">
              <RdwIcon value="bi-gear" class="bi-fw me-3" />
              <span>{% trans %}Administration{% endtrans %}</span>
            </a>
            <ul class="dropdown-menu" aria-label="rdw-dropdown-admin">
              {% for page in page_registry.get_admin_nav_pages() %}
                <NavItem type="dropdown-item"
                         :label="page.label"
                         :icon="page.icon"
                         :href="url_for(page)"
                         :active="page.id == active_page.id or page.id == active_page.active_page" />
              {% endfor %}
            </ul>
          </li>
        {% endif %}
      {% endif %}
      <li class="nav-item dropdown dropup pt-2">
        <a href="#"
           class="nav-link p-2 d-flex align-items-center text-decoration-none dropdown-toggle"
           id="rdw-dropdown-user"
           data-bs-toggle="dropdown"
           aria-expanded="false">
          <RdwIcon value="user" class="bi-fw me-3" />
          <span>{{ currentuser.username }}</span>
        </a>
        <ul class="dropdown-menu" aria-label="rdw-dropdown-user">
          {% if not user_expended %}
            {# User profile - collapsed #}
            <h6 class="dropdown-header">{% trans %}User Profile{% endtrans %}</h6>
            {% for page in page_registry.get_prefs_nav_pages() %}
              <NavItem type="dropdown-item"
                       :label="page.label"
                       :href="url_for(page)"
                       :active="page.id == active_page.id or page.id in breadcrumbs" />
            {% endfor %}
            <li>
              <hr class="dropdown-divider">
            </li>
          {% endif %}
          <li>
            <form action="{{ url_for("logout") }}" method="post">
              <button type="submit" class="dropdown-item">{% trans %}Logout{% endtrans %}</button>
            </form>
          </li>
        </ul>
      </li>
    </ul>
    <RdwFooter class="mt-4 text-center text-muted" />
  </div>
  {# /rdw-sidebar-menu #}
</nav>
{# /Main Navigation #}
