{# Sidebar #}
<nav id="rdw-navbar"
     class="navbar navbar-expand-lg p-3 flex-column align-items-stretch sticky-top">
  <div class="d-flex align-items-center justify-content-between">
    {# Brand #}
    <a class="navbar-brand" href="{{ url_for("/") }}">
      <img src="{{ url_for('header_logo', v=cache_invalidate) }}"
           class="d-inline-block align-text-top"
           alt="{{ header_name }}"
           title="{{ header_name }}"
           style="max-width: 216px;
                  max-height: 64px" />
    </a>
    {# Toggle #}
    <button class="navbar-toggler me-3"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#rdw-sidebar-menu"
            aria-controls="rdw-sidebar-menu"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <Icon value="fa-bars" class="fs-2" />
    </button>
  </div>
  <div id="rdw-sidebar-menu"
       class="collapse navbar-collapse flex-column align-items-stretch mt-3">
    <ul class="nav flex-column nav-pills">
      {% set home_page = page_registry.get('home') %}
      <NavItem label={{ home_page.label }} href={{ url_for(home_page) }} icon={{ home_page.icon }} active={{ home_page.id in [active_page.id, self.active_page] }} />
    </ul>
    {# Repo list #}
    <div class="navbar-text mt-2">
      <strong>{% trans %}Your repositories{% endtrans %}</strong>
    </div>
    {% set active_repo = repo | d(False) %}
    {% if active_repo %}
      {# When repo selected, display a dropdown with selected repo. #}
      <ul class="nav flex-column nav-pills">
        <li class="nav-item dropdown w-100">
          <a class="nav-link dropdown-toggle d-flex align-items-center gap-3 active text-truncate"
             data-bs-toggle="dropdown"
             href="#">
            <Icon value="repo" class="fs-4" />
            <div class="me-auto text-truncate">
              <div class="mb-0 fw-semibold text-truncate">{{ active_repo.name }}</div>
              <div class="text-truncate small">
                <RepoStatus repo={{ active_repo }} />
              </div>
            </div>
          </a>
          <ul class="dropdown-menu w-100">
            {% for repo in currentuser.repo_objs | sort(attribute='name') %}
              <NavItemRepo class="dropdown-item" repo={{ repo }} class="dropdown-item" active={{ active_repo==repo }} />
            {% endfor %}
          </ul>
        </li>
      </ul>
      <ul class="nav flex-column nav-pills mt-2">
        {% set graphs_pages = page_registry.get_graphs_nav_items() %}
        {% for id, page in page_registry.get_repo_nav_items().items() %}
          <NavItem label={{ page.label }} href={{ url_for(page, repo) }} icon={{ page.icon }} active={{ page.id == active_page.id or page.id in breadcrumbs }} />
          {# Show graphs sub-menu #}
          {% if id == 'graphs' and active_page in graphs_pages.values() %}
            <ul class="nav flex-column nav-pills mt-2 ms-5">
              {% for id, page in graphs_pages.items() %}
                <NavItem label={{ page.label }} href={{ url_for(page, repo, limit=limit) }} active={{ page.id == active_page.id or page.id in breadcrumbs }} />
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      {# Display all repo. #}
      <ul class="nav flex-column nav-pills">
        {% for repo in currentuser.repo_objs | sort(attribute='name') %}<NavItemRepo repo={{ repo }} />{% endfor %}
      </ul>
    {% endif %}
    {# Spacer #}
    <div class="mt-auto"></div>
    {# Admin Area #}
    {% if currentuser and currentuser.is_admin %}
      <div class="navbar-text">
        <strong>{% trans %}Administration{% endtrans %}</strong>
      </div>
      <ul class="nav flex-column nav-pills pb-2">
        {% for id, page in page_registry.get_admin_nav_items().items() %}
          <NavItem label={{ page.label }} href={{ url_for(page) }} icon={{ page.icon }} active={{ page.id == active_page.id or page.id in breadcrumbs }} />
        {% endfor %}
      </ul>
    {% endif %}
    <div class="dropdown dropup border-top pt-2">
      <a href="#"
         class="d-flex align-items-center text-decoration-none dropdown-toggle"
         id="rdw-dropdown-user"
         data-bs-toggle="dropdown"
         aria-expanded="false">
        <Icon value="user" class="me-3" />
        <span>{{ username }}</span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="rdw-dropdown-user">
        <h6 class="dropdown-header">{% trans %}User Profile{% endtrans %}</h6>
        {% for id, page in page_registry.get_prefs_nav_items().items() %}
          <NavItem type="dropdown-item" label={{ page.label }} href={{ url_for(page) }} active={{ page.id == active_page.id or page.id in breadcrumbs }} />
        {% endfor %}
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <form action="{{ url_for("logout") }}" method="post">
            <button type="submit" class="dropdown-item">{% trans %}Logout{% endtrans %}</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
  {# /rdw-sidebar-menu #}
</nav>
{# /Main Navigation #}
