{% extends 'layout.html' %}
{% set breadcrumbs = breadcrumb_repo(repo) + breadcrumb_repo(repo, self) %}
{% block content %}
  <div class="d-flex flex-wrap align-items-center mb-2">
    <h2 class="me-2">{% trans %}File Changes{% endtrans %}</h2>
    <!-- Date selector -->
    <RdwDateSelector class="btn-outline-secondary"
                     :title="{{ _("Select a backup date...") }}"
                     :url_args="{{ ['stats', repo] }}"
                     :dates="{{ repo.file_statistics | map(attribute='date') | list }}"
                     :selected_date="{{ date }}" />
  </div>
  {% if date %}
    {% set buttons = [
          {'text': _('New'), 'extend': 'filter', 'column': 'state:name', 'search': 'new', 'className':'btn-outline-secondary'},
          {'text': _('Deleted'), 'extend': 'filter', 'column': 'state:name', 'search': 'deleted', 'className':'btn-outline-secondary'},
          {'text': _('Changed'), 'extend': 'filter', 'column': 'state:name', 'search': '^changed', 'regex':True, 'className':'btn-outline-secondary'},
          {'text': _('Unchanged'), 'extend': 'filter', 'column': 'state:name', 'search': '^unchanged', 'className':'btn-outline-secondary'},
          {'text': _('Reset Filters'), 'extend': 'reset', 'className': 'btn-secondary ms-3'},
        ] %}
    {% set columns = [
          {'name':'path', 'title': _('Path'), 'orderable': True, 'render':'text' },
          {'name':'state', 'title':_('State'), 'orderable': True, 'render':'choices', 'render_arg': [ ['new',_('New')], ['deleted',_('Deleted')], ['changed',_('Changed')], ['unchanged',_('Unchanged')]] },
          {'name':'size', 'title':_('Size'), 'orderable': True, 'render':'filesize', 'type':'num' },
          {'name':'increment_size', 'title':_('Increment Size'), 'orderable': True, 'render':'filesize', 'type':'num' },
        ] %}
    <RdwTable :data="url_for('stats', 'data.json', repo, date=date)"
              :columns="columns"
              :buttons="buttons"
              :search-placeholder="_('Filter file changes...')"
              :empty-message="_('Changes are not available')"
              :info-message="_('Displaying _START_-_END_ of _TOTAL_ changes')"
              class="border rounded-2">
      <thead class="table-light small">
      </thead>
    </RdwTable>
  {% else %}
    <RdwEmpty icon="bi-stopwatch" :title="_('No backup date selected')" class="p-5">
      <p>
        {% trans %}Pick a backup date using the dropdown in the top-left corner to see the associated change details.{% endtrans %}
      </p>
    </RdwEmpty>
  {% endif %}
{% endblock %}
