<div id="page-content">
<h2>
	^title$
	<!--StartIncludeIf:feedLink-->
	<a href="^feedLink$"><img src="../static/images/feed-icon.png" border="0" valign="middle" /></a>
	<!--EndIncludeIf:feedLink-->
</h2>


<div id="metanav">
<ul>
<!--StartDeleteIf:isEntry-->
<!--StartIncludeIf:failuresOnly-->
<li><a href="?">Show all</a></li>
<!--EndIncludeIf:failuresOnly-->
<!--StartDeleteIf:failuresOnly-->
<li><a href="?failures=T">Show errors only</a></li>
<!--EndDeleteIf:failuresOnly-->
<!--EndDeleteIf:isEntry-->
</ul>
</div>

<!--StartDeleteIf:messages--><p>There are no recent backups<!--StartDeleteIf:failuresOnly--> to display<!--EndDeleteIf:failuresOnly--><!--StartIncludeIf:failuresOnly--> with errors<!--EndIncludeIf:failuresOnly-->.</p><!--EndDeleteIf:messages-->

<!--StartRepeat:messages-->
<!--StartIncludeIf:isSuccess--><h3 class="backupStatus_success"><a href="^link$">Successful Backups for ^dateString$</a></h3>
<div>
<p>The following backups have completed successfully:</p>
<ul>
   <!--StartRepeat:backups-->
   <li><a class="statusRepoLink" href="^repoLink$">^displayDate$ - ^repo$ - ^size$</a></li>
   <!--EndRepeat:backups-->
</ul>
</div>
<!--EndIncludeIf:isSuccess-->

<!--StartDeleteIf:isSuccess--><h3 class="backupStatus_failure"><a href="^link$">Backup Completed with Errors: ^repo$</a></h3>
<div>
   <p>The backup to <strong>^repo$</strong> on <strong>^displayDate$</strong>
   failed with the following errors:</p>
   <p class="mono">^multiline:errors$</p>
   <p>Backup size: ^size$</p>
</div>
<!--EndDeleteIf:isSuccess-->
   <!--StartIncludeIf:repoErrors-->
   <p>There following repositories contain errors:</p>
   <ul>
      <!--StartRepeat:repoErrors-->
      <li><a class="statusRepoLink" href="^repoLink$">^repo$: ^multiline:error$</a></li>
      <!--EndRepeat:repoErrors-->
   </ul>
   <!--EndIncludeIf:repoErrors-->
<!--EndRepeat:messages-->
</div>