<div id="page-content">
<h2>User Preferences</h2>

<!--StartIncludeIf:error--><p class="error">^error$</p><!--EndIncludeIf:error-->
<!--StartIncludeIf:message--><p class="message">^message$</p><!--EndIncludeIf:message-->

<div id="change-password-div" class="section">
	<h3>Change Password</h3>
	<form action="" method="post">
		<input style="display:none" name="form" value="setPassword"/>
		<div id="current-div" class="form-field">
		    <label for="current">Current password</label>
		    <input class="textInput" type="password" name="current"/>
		</div>
		<div id="new-div" class="form-field">
		    <label for="new">New password</label>
		    <input class="textInput" type="password" name="new"/>
		</div>
		<div id="confirm-div" class="form-field">
		    <label for="confirm">Confirm new password</label>
		    <input class="textInput" type="password" name="confirm"/>
		</div>
	    <input type="submit" value="Change Password" />
	</form>
</div>

<div id="update-repos-div" class="section">
	<h3>Update backup locations</h3>
	<p>Refresh the list of repository location to be displayed in the Backup status view.</p>
	<form action="" method="post">
		<input style="display:none" name="form" value="updateRepos"/>
		<input type="submit" value="Update backup locations" />
	</form>
</div>

<div id="restore-pref-div" class="section">
	<h3>Restore format</h3>
	<p>Select the desired archive format to be used when restoring a directory.</p>
	<form action="" method="post">
		<input style="display:none" name="form" value="setRestoreType"/>
		<div id="restore-type-zip">
			<input type="radio" name="restoreType" StartIncludeIf:useZipFormat-checked='checked'EndIncludeIf:useZipFormat- value="zip" />
			<label for="zip">Restore my directories in <b>.zip</b> format</label>
		</div>
		<div id="restore-type-tgz">
			<input type="radio" name="restoreType" StartDeleteIf:useZipFormat-checked='checked'EndDeleteIf:useZipFormat- value="tgz" />
			<label for="tgz">Restore my directories in <b>.tar.gz</b> format</label>
		</div>
		<p>If unsure, select the zip format.</p>
		<input type="submit" value="Update Restore Preferences" />
	</form>
</div>

<!--StartIncludeIf:notificationsEnabled-->
<form action="" method="post">
<input style="display:none" name="form" value="setNotifications"/>
<div class="groupboxDiv">
<div>
   <h3 class="groupboxHeader">Backup Notifications</h3>
   <table class="emailTable">
      <tr>
         <td>Notify me at</td>
         <td><input id="userEmail" class="textInput" name="userEmail" value="^userEmail$"></td>
         <td align="left">
            when my backups do not get backed up for:
         </td>
      </tr>
   </table>
   <table class="notificationsTable">
      <tr></tr>
      <!--StartRepeat:backups-->
      <tr class="notificationsRow">
         <td>^backupName$ : </td>
         <td>
            <select name="^backupName$numDays" id="^backupName$Select">
               <!--StartRepeat:notifyOptions-->
               <option ^selectedStr$>^optionStr$</option>
               <!--EndRepeat:notifyOptions-->
            </select>
         </td>
      </tr>
      <!--EndRepeat:backups-->
      <tr style="height: 2em">
         <td><input type="submit" class="groupboxButton" value="Change Notifications" /></td>
      </tr>
   </table>
</div>
</div>
</form>
<script type="text/javascript">
   var sExampleEmail = '^sampleEmail$';
   var oUserEmailElem = document.getElementById('userEmail');
   fnOnBlur = function()
   {
      if (oUserEmailElem.value === '')
      {
         oUserEmailElem.style.color = '#AAA';
         oUserEmailElem.value = sExampleEmail;
      }
   }
   oUserEmailElem.onfocus = function()
   {
      if (oUserEmailElem.value === sExampleEmail)
      {
         oUserEmailElem.value = '';
         oUserEmailElem.style.color = '#000';
      }
   }
   oUserEmailElem.onblur = fnOnBlur;
   fnOnBlur();
</script>
<!--EndIncludeIf:notificationsEnabled-->
</div>