[Unit]
Description=Minarca Web Server
Documentation=https://minarca.org/

[Service]
ExecStart=/opt/minarca-server/minarca-server

[Install]
WantedBy=multi-user.target
